{% extends "base.html" %}

{% block title %}Email Settings{% endblock %}

{% block content %}

<!-- Flash messages section -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<div class="account-settings-container">
    {% include "account/account-settings-sidebar.html" %}

    <div class="account-settings-content-container">
        <h2>Email Settings</h2>

        <form method="POST">
            <div class="input-pair">
                <div class="email-button-group">
                    <label for="users-current-email">Current Email</label>
            
                    {% if current_user.users_email_verified %}
                        <p class="email-verified-button fit-content-button" type="submit">Verified</p>
                    {% else %}
                        <p class="email-verified-button fit-content-button" type="submit">Not Verified</p>
                        <a href="{{ url_for('auth.send_verification_email_route', users_email=current_user.users_email, next='email_settings') }}" class="primary-button fit-content-button">Verify Email</a>
                    {% endif %}
                </div>
                <input type="email" name="users-current-email" id="users-current-email" placeholder="Current Email" value="{{ current_user.users_email }}" disabled>
            </div>

            <div class="input-pair">
                <label for="users-new-email">New Email</label>
                <input type="email" name="users-new-email" id="users-new-email" placeholder="New Email" required>
            </div>

            <div class="input-pair">
                <label for="users-current-password">Current Password</label>
                <input type="password" name="users-current-password" id="users-current-password" placeholder="Current Password" required>
            </div>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <button class="primary-button" type="submit">Save Changes</button>
        </form>
    </div>
</div>

{% endblock %}