/* Header Styles */

header {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: var(--padding-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--gap-medium);
}

nav ul li {
    align-items: center;
}

nav ul li a {
    color: var(--primary-text-color);
    text-decoration: none;
    padding: var(--padding-small);
    border-radius: var(--border-radius);
}
