/* Sidebar Styles */

/* Account Settings Sidebar */
.account-settings-sidebar-container {
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-large) var(--padding-large) var(--padding-large);
    border-right: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    color: var(--primary-text-color);
    width: 30%;
}

.account-settings-sidebar-container > a {
    padding: var(--gap-large) 0;
}

.account-settings-sidebar-container > a,
.council-overview-sidebar-container > a {
    color: var(--primary-button-text-color);
    text-decoration: none;
}

/* Council Overview Sidebar */
.council-overview-sidebar-container {
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-large) var(--padding-large) var(--padding-large);
    border-right: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    width: 20%;
    height: 100%;
    flex-grow: 1;
}

.council-overview-sidebar-container > a {
    padding: var(--gap-large) 0;
}
