/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    /* Font Settings */
    --font-family: Arial, Helvetica, sans-serif;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;

    /* Color Palette */
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --background-color: #F2F2F2;
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;

    /* Button Hover Colors */
    --primary-button-hover-background-color: #333333;
    --secondary-button-hover-background-color: #E0E0E0;

    /* Border and Radius */
    --border-radius: 8px;
    --form-background-color: #FFFFFF;

    /* Spacing (Padding) */
    --padding-small: 0.5rem 1rem;
    --padding-medium: 1rem 2.5rem;
    --padding-large: 1.5rem;

    /* Spacing (Gap) */
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-large: 1.5rem;

    /* Layout Max Widths */
    --max-width-container: 500px;
    --max-width-hero: 1250px;
}

/* Global Styles */
html {
    font-size: 16px; /* 1rem = 16px */
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
}

h2 {
    font-size: 1.5rem;
}

main {
    display: grid;
    place-items: center;
}

a {
    color: var(--primary-text-color);
}

/* Header Styles */
header {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: var(--padding-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: var(--primary-text-color);
    text-decoration: none;
    padding: var(--padding-small);
    border-radius: var(--border-radius);
}

/* Hero Content Styles */
.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-medium);
    width: 100%;
    max-width: var(--max-width-hero);
    margin: 6rem auto 0 auto;
}

.hero-column {
    flex: 1;
    padding: var(--padding-medium);
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

.hero-column > h2 {
    font-size: 3.5rem;
}

.hero-column > p {
    font-size: var(--font-size-large);
}

.hero-column img {
    max-width: 100%;
}

/* Button Styles */

.primary-button {
    display: inline-block;
    padding: var(--padding-small);
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    font-size: var(--font-size-medium);
    text-align: center;
}

.secondary-button {
    display: inline-block;
    padding: var(--padding-small);
    color: var(--primary-text-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    font-size: var(--font-size-medium);
    text-align: center;
    background-color: var(--primary-color);
}

.text-button,
.logo-button {
    display: inline-block;
    padding: var(--padding-small);
    color: var(--primary-text-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
}

.hero-button {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    max-width: 200px;
    text-align: center;
    padding: 1rem;
}

.hero-button:hover,
.primary-button:hover {
    background-color: var(--primary-button-hover-background-color);
}

.secondary-button:hover,
.text-button:hover {
    background-color: var(--secondary-button-hover-background-color);
}

/* Base Container Styles */

.container {
    padding: var(--padding-large);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    max-width: var(--max-width-container);
    margin: var(--padding-large) auto;
    background-color: var(--form-background-color);
    width: 100%;
}

.container > form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

.container > h2 {
    text-align: center;
    margin-bottom: var(--gap-large);
}

.container > p {
    margin-bottom: var(--gap-large);
}

/* Account Settings Styles */

.account-picture {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

/* Account Settings Container Styles */

.account-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

.account-details-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--gap-small);
}

.account-settings-container {
    display: flex;
    flex-direction: row;
    max-width: 950px;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    margin: var(--padding-large);
    background-color: var(--form-background-color);
    width: calc(100% - 3rem);
}

.account-settings-sidebar-container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-large);
    border-right: 1px solid var(--secondary-color);
    gap: var(--gap-medium);
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    width: 30%;
}

.account-settings-sidebar-container > a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.account-settings-content-container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-large);
    gap: var(--gap-large);
    width: 70%;
}

.account-settings-content-container > form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    width: 100%;
}

.account-settings-content-container > h3 {
    font-size: var(--font-size-large);
}

.account-settings-content-container > h2 {
    text-align: center;
}

/* Email Settings Styles */

.email-button-group {
    display: flex;
    flex-direction: row;
    gap: var(--gap-small);
    align-items: center;
}

/* Form Input Styles */

.input-pair {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    width: 100%;
}

.horizontal-input-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-large);
}

.password-requirements-container {
    padding: var(--padding-large);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
}

.show-password-button {
    font-size: var(--font-size-medium);
    align-self: flex-end;
    border: none;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}

form > p {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
select {
    font-size: var(--font-size-medium);
    padding: 0.75rem 1rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
}