/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --font-family: Arial, Helvetica, sans-serif;
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --background-color: #F2F2F2;
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --primary-button-hover-background-color: #333333;
    --secondary-button-hover-background-color: #E0E0E0;
    --border-radius: 8px;
    --form-background-color: #FFFFFF;
}

/* Global Styles */
html {
    font-size: 16px; /* 1rem = 16px */
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
}

h2 {
    font-size: 1.5rem;
}

/* Header Styles */
header {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
}

/* Hero Content Styles */
.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    max-width: 1250px;
    margin: 6rem auto 0 auto;
}

.hero-column {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-column > h2 {
    font-size: 3.5rem;
}

.hero-column > p {
    font-size: 1.25rem;
}

.hero-column img {
    max-width: 100%;
}

/* Button Styles */

.primary-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

.secondary-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--primary-text-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

.text-button,
.logo-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--primary-text-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
}

.hero-button {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    max-width: 200px;
    text-align: center;
    padding: 1rem;
}

.hero-button:hover,
.primary-button:hover {
    background-color: var(--primary-button-hover-background-color);
}

.secondary-button:hover,
.text-button:hover {
    background-color: var(--secondary-button-hover-background-color);
}

/* Base Container Styles */

.container {
    padding: 1.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    max-width: 500px;
    margin: 1.5rem auto;
    background-color: var(--form-background-color);
}

.container > form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container > h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.container > p {
    margin-bottom: 1.5rem;
}

/* Account Styles */

.account-picture {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

/* Account Settings Container Styles */

.account-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.account-details-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

/* Form Input Styles */

.input-pair {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.horizontal-input-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.password-requirements-container {
    padding: 1.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
}

.show-password-button {
    font-size: 1rem;
    align-self: flex-end;
    border: none;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}

form > p {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
}