/* Dashboard Styles */

/* E-Council Overview Container Styles */
.council-overview-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.council-overview-content-container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-large);
    gap: var(--gap-large);
    width: 80%;
}

.council-overview-content-container > h2 {
    font-size: var(--font-size-extra-large);
}

.council-overview-content-container-group,
.event-dashboard-container-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap-large);
    height: fit-content;
}

.council-overview-content-subcontainer,
.event-dashboard-subcontainer {
    padding: var(--padding-large);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    background-color: var(--form-background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    height: 100%;
}

.council-overview-content-subcontainer > button,
.council-overview-content-subcontainer > a {
    margin-top: auto
}

.council-overview-content-subcontainer > h3 {
    font-size: var(--font-size-large);
    text-align: center;
}

.council-overview-content-subcontainer > p {
    text-align: center;
}

.council-overview-content-subcontainer:nth-child(1),
.council-overview-content-subcontainer:nth-child(4) {
    grid-column: span 2;
}

/* Council Overview Select Styles */
.council-overview-select-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-large);
}

/* Council Overview Grid Styles */
.council-overview-content-grid-item {
    padding: var(--padding-large);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    background-color: var(--form-background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    max-height: 700px;
    height: 100%;
}

.council-overview-content-grid-item > h3 {
    text-align: center;
    font-size: var(--font-size-large);
}

.council-overview-content-grid-item > p {
    text-align: center;
}

.council-overview-content-grid-item > select,
#council-overview-school-year {
    width: fit-content;
}

/* Events Overview Styles */
.events-overview-chart-container {
    width: 100%;
    height: 200px;
    position: relative;
}

.events-description {
    text-align: left !important;
}

/* Event Dashboard Styles */
.event-dashboard-chart-container {
    width: 100%;
    height: 200px;
    position: relative;
}

.event-dashboard-chart-container {
    width: 100%;
    height: auto;
    position: relative;
}

.transaction-history-filter-container,
.pagination-container {
    display: flex;
    flex-direction: row;
    gap: var(--gap-large);
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

.transaction-history-filter-container > label {
    font-weight: bold;
}

.pagination-button-group {
    display: flex;
    flex-direction: row;
    gap: var(--gap-large);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
}
