{% extends "base.html" %}

{% block title %}Edit Account{% endblock %}

{% block content %}

<!-- Flash messages section -->
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<div class="account-settings-container">
    {% include "account-settings-sidebar.html" %}

    <div class="account-settings-content-container">
        <h2>Account Settings</h2>

        <!-- Delete User Account Modal -->
        <div id="delete-user-account-modal-content" class="modal">
            <div class="container">
                <span id="close-delete-user-account-modal-button" class="close-button">&times;</span>
                <h2>Delete Account</h2>
                <p>Are you sure you want to delete your account? This action cannot be undone.</p>

                <form method="POST" action="{{ url_for('delete_user_account') }}">
                    <div class="input-pair">
                        <label for="users-current-password-account-deletion">Current Password</label>
                        <input type="password" name="users-current-password-account-deletion" id="users-current-password-account-deletion" placeholder="Current Password" required>
                    </div>

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="horizontal-button-pair-positioned-right">
                        <button class="secondary-button fit-content-button" type="submit">Delete Account</button>
                        <button id="cancel-delete-user-account-modal-button" class="primary-button fit-content-button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data">
            <div class="horizontal-input-pair">
                <div class="input-pair">
                    <label for="users-first-name">First Name</label>
                    <input type="text" name="users-first-name" id="users-first-name" placeholder="First Name"
                        value="{{ current_user.users_first_name }}" required>
                </div>

                <div class="input-pair">
                    <label for="users-last-name">Last Name</label>
                    <input type="text" name="users-last-name" id="users-last-name" placeholder="Last Name"
                        value="{{ current_user.users_last_name }}" required>
                </div>
            </div>

            <div class="input-pair">
                <label for="users-username">Username</label>
                <input type="text" name="users-username" id="users-username" placeholder="Username"
                    value="{{ current_user.users_username }}" required>
            </div>

            <div class="input-pair">
                <label for="users-department">Department</label>
                <select name="users-department" id="users-department" required>
                    <option value="" disabled>Select a Department</option>
                    {% for department in departments %}
                        {% if current_user.users_departments_id == department.departments_id and department.departments_name == "Admin" %}
                            <option value="{{ department.departments_id }}" selected>{{ department.departments_name }}</option>
                        {% elif department.departments_name != "Admin" %}
                            <option value="{{ department.departments_id }}" {% if current_user.users_departments_id == department.departments_id %}selected{% endif %}>
                                {{ department.departments_name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="input-pair">
                <label for="users-role">Role</label>
                <select name="users-role" id="users-role" required>
                    <option value="" disabled>Select a Role</option>
                    {% if current_user.users_role == "Admin" %}
                    <option value="Admin" {% if current_user.users_role == "Admin" %}selected{% endif %}>Admin</option>
                    {% else %}
                    <option value="Student Council Officer" {% if current_user.users_role == "Student Council Officer" %}selected{% endif %}>Student Council Officer</option>
                    <option value="Faculty" {% if current_user.users_role == "Faculty" %}selected{% endif %}>Faculty</option>
                    <option value="Staff" {% if current_user.users_role == "Staff" %}selected{% endif %}>Staff</option>
                    {% endif %}
                </select>
            </div>

            <div class="input-pair" id="users-student-organization-container">
                <label for="users-student-organization">Student Organization</label>
                <select name="users-student-organization" id="users-student-organization">
                    <option value="" disabled>Select a Student Organization</option>
                    {% for organization in student_organizations %}
                    <option value="{{ organization.student_organizations_id }}" {% if current_user.users_student_organization == organization.student_organizations_id %}selected{% endif %}>
                        {{ organization.student_organizations_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-pair" id="users-student-organization-position-container">
                <label for="users-student-organization-position">Student Organization Position</label>
                <select name="users-student-organization-position" id="users-student-organization-position">
                    <option value="" disabled selected>Select a Student Organization Position</option>
                    <option value="President" {% if current_user.users_student_organization_position=="President"
                        %}selected{% endif %}>President</option>
                    <option value="Vice President" {% if
                        current_user.users_student_organization_position=="Vice President" %}selected{% endif %}>Vice
                        President</option>
                    <option value="Secretary" {% if current_user.users_student_organization_position=="Secretary"
                        %}selected{% endif %}>Secretary</option>
                    <option value="Treasurer" {% if current_user.users_student_organization_position=="Treasurer"
                        %}selected{% endif %}>Treasurer</option>
                    <option value="Auditor" {% if current_user.users_student_organization_position=="Auditor"
                        %}selected{% endif %}>Auditor</option>
                    <option value="Business Manager" {% if
                        current_user.users_student_organization_position=="Business Manager" %}selected{% endif %}>
                        Business Manager</option>
                    <option value="Public Relations Officer" {% if
                        current_user.users_student_organization_position=="Public Relations Officer" %}selected{% endif
                        %}>Public Relations Officer (P.R.O)</option>
                    <option value="1st Year Representative" {% if
                        current_user.users_student_organization_position=="1st Year Representative" %}selected{% endif
                        %}>1st Year Representative</option>
                    <option value="2nd Year Representative" {% if
                        current_user.users_student_organization_position=="2nd Year Representative" %}selected{% endif
                        %}>2nd Year Representative</option>
                    <option value="3rd Year Representative" {% if
                        current_user.users_student_organization_position=="3rd Year Representative" %}selected{% endif
                        %}>3rd Year Representative</option>
                    <option value="4th Year Representative" {% if
                        current_user.users_student_organization_position=="4th Year Representative" %}selected{% endif
                        %}>4th Year Representative</option>
                </select>
            </div>

            <div class="input-pair">
                <label for="users-home-address">Home Address</label>
                <input type="text" name="users-home-address" id="users-home-address" placeholder="Home Address"
                    {% if current_user.users_home_address is not none and current_user.users_home_address|lower != 'none' %}
                    value="{{ current_user.users_home_address }}"
                    {% endif %}>
            </div>
            
            <div class="input-pair">
                <label for="users-contact-number">Contact Number</label>
                <input type="text" name="users-contact-number" id="users-contact-number" placeholder="Contact Number"
                    {% if current_user.users_contact_number is not none and current_user.users_contact_number|lower != 'none' %}
                    value="{{ current_user.users_contact_number }}"
                    {% endif %}>
                <small class="form-text text-muted">Format: +639123456789</small>
            </div>

            <div class="input-pair">
                <label for="users-signature">Signature</label>
                <input type="file" name="users-signature" id="users-signature" hidden
                    accept="image/jpeg, image/jpg, image/png">
                <label for="users-signature" class="custom-file-upload-input">
                    <span class="choose-file-text">Choose File</span>
                    <span id="file-name" class="file-name">No file chosen</span>
                </label>
                <p>Supported file types: .jpeg, .jpg, .png</p>
                {% if current_user.users_signature is not none and current_user.users_signature|lower != 'none' %}
                    <img id="signature-preview" src="{{ current_user.users_signature }}" alt="User's Signature"
                    class="image-preview">
                {% endif %}
            </div>

            <div class="input-pair">
                <label for="users-current-password">Current Password</label>
                <input type="password" name="users-current-password" id="users-current-password"
                    placeholder="Current Password" required>
            </div>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <button class="primary-button" type="submit">Save Changes</button>
        </form>

        <h3>Delete Account</h3>

        <button id="open-delete-user-account-modal-button" class="secondary-button" type="submit">Delete Account</button>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/account-settings.js') }}"></script>

{% endblock %}