{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}

<div class="container">
    <div class="account-container">
        <img class="account-picture" src="https://placehold.co/160x160.png" alt="Account Picture">

        <div class="account-details-container">
            <h2>[Name]</h2>
            <p>[Username]</p>
            <p>Contact me through e-mail: [E-Mail]</p>
        </div>

        <a class="primary-button" href="{{ url_for('account_settings') }}">Edit Account Settings</a>
    </div>
</div>

<div class="container">
    <div class="account-details-container">
        <h2>About Me</h2>

        <div class="horizontal-input-pair">
            <p>Department</p>
            <p>[Department Name]</p>
        </div>

        <div class="horizontal-input-pair">
            <p>Student Organization</p>
            <p>[Student Organization Name]</p>
        </div>

        <div class="horizontal-input-pair">
            <p>Position</p>
            <p>[Position Name]</p>
        </div>
    </div>
</div>

{% endblock %}