{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}

<!-- Flash messages section -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<!-- Upload/Change Account Profile Picture Modal -->
<div id="upload-change-account-profile-picture-modal-content" class="modal">
    <div class="container">
        <span id="close-upload-change-account-profile-picture-modal-button" class="close-button">&times;</span>
        <h2>
            {% if current_user.users_profile_picture is none or current_user.users_profile_picture|lower in ['none', 'null'] %}
                Upload Profile Picture
            {% else %}
                Change Profile Picture
            {% endif %}
        </h2>
        <form method="POST" action="{{ url_for('upload_profile_picture') }}" enctype="multipart/form-data">
            <div class="input-pair">
                <label for="profile-picture">Choose a profile picture</label>
                <input type="file" name="profile-picture" id="profile-picture" accept="image/*" hidden required>
                <label for="profile-picture" class="custom-file-upload-input">
                    <span class="choose-file-text">Choose File</span>
                    <span id="file-name" class="file-name">No file chosen</span>
                </label>
            </div>
        
            <div class="horizontal-button-pair-positioned-right">
                <button class="primary-button fit-content-button" type="submit">
                    {% if current_user.users_profile_picture is none or current_user.users_profile_picture|lower in ['none', 'null'] %}
                        Upload
                    {% else %}
                        Change
                    {% endif %}
                </button>
                <button type="button" class="secondary-button fit-content-button" id="cancel-upload-profile-picture">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="account-container">
        <img class="account-picture" src="{{ current_user.users_profile_picture or 'https://api.dicebear.com/9.x/thumbs/svg?seed=Robert' }}" alt="Account Picture">

        <button id="open-upload-change-account-profile-picture-modal-button" class="secondary-button fit-content-button center">
            {% if current_user.users_profile_picture is none or current_user.users_profile_picture|lower in ['none', 'null'] %}
                Upload Profile Picture
            {% else %}
                Change Profile Picture
            {% endif %}
        </button>

        <div class="account-details-container">
            <h2>{{ current_user.users_first_name }} {{ current_user.users_last_name }}</h2>
            <p>@{{ current_user.users_username }}</p>
            <p>Contact me through e-mail: {{ current_user.users_email }}</p>
        </div>

        <a class="primary-button" href="{{ url_for('account_settings') }}">Edit Account Settings</a>
    </div>
</div>

<div class="about-me-container">
    <div class="account-details-container">
        <h2>About Me</h2>

        <div class="horizontal-grid-input-pair">
            <p>Department:</p>
            <p>{{ current_user.department.departments_name }}</p>
        </div>

        {% if current_user.users_role == "Student Council Officer" %}
            <div class="horizontal-grid-input-pair">
                <p>Student Organization:</p>
                <p>{{ current_user.users_student_organization }}</p>
            </div>

            <div class="horizontal-grid-input-pair">
                <p>Student Organization Position:</p>
                <p>{{ current_user.users_student_organization_position }}</p>
            </div>
        {% endif %}

        <div class="horizontal-grid-input-pair">
            <p>Role:</p>
            <p>{{ current_user.users_role }}</p>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    document.getElementById('profile-picture').addEventListener('change', function () {
        const fileName = this.files[0] ? this.files[0].name : 'No file chosen';
        document.getElementById('file-name').textContent = fileName;
    });

    // Upload/Change Account Profile Picture Modal
    document.getElementById('open-upload-change-account-profile-picture-modal-button').addEventListener('click', function () {
        document.getElementById('upload-change-account-profile-picture-modal-content').style.display = 'block';
    });

    document.getElementById('close-upload-change-account-profile-picture-modal-button').addEventListener('click', function () {
        document.getElementById('upload-change-account-profile-picture-modal-content').style.display = 'none';
    });

    document.getElementById('cancel-upload-profile-picture').addEventListener('click', function () {
        document.getElementById('upload-change-account-profile-picture-modal-content').style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target == document.getElementById('upload-change-account-profile-picture-modal-content')) {
            document.getElementById('upload-change-account-profile-picture-modal-content').style.display = 'none';
        }
    });
</script>

{% endblock %}