{% extends "base.html" %}

{% block title %}Events Overview{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "council-overview-sidebar.html" %}

    <div class="council-overview-content-container">
        <h2>Accreditation Requirements Overview</h2>

        <button id="open-modal-button" class="primary-button create-button" type="submit">Create New Accreditaiton Requirements Document</button>

        <div id="modal-content" class="modal">
            <div class="container">
                <span class="close-button">&times;</span>
                <h2>Create Accreditation Requirements Document</h2>
                <form>
                    <div class="input-pair">
                        <label for="student-council">Student Council</label>
                        <select name="student-council" id="student-council" required>
                            <option value="" disabled selected>Select a Student Council for Accreditation Requirements Document</option>
                            <option value="junior-philippine-computer-society">Junior Philippine Computer Society (JPCS)</option>
                            <option value="college-of-computer-studies-student-council">College of Computer Studies Student Council (CCS-SC)</option>
                        </select>
                    </div>

                    <button type="submit" class="primary-button">Create New Accreditaiton Requirements Document</button>
                </form>
            </div>
        </div>

        <div class="horizontal-input-pair">
            <select name="council-overview-school-year" id="council-overview-school-year"
                aria-label="Select a School Year" required>
                <option value="" disabled selected>Select a School Year</option>
                <option value="2024-2025">S.Y 2024-2025</option>
            </select>

            <div class="council-overview-select-group">
                <select name="council-overview-sort-by-date" id="council-overview-sort-by-date"
                    aria-label="Sort by Date" required>
                    <option value="" disabled selected>Sort by Date</option>
                    <option value="recent-to-old">Recent to Old</option>
                    <option value="old-to-recent">Old to Recent</option>
                </select>
            </div>
        </div>

        <div class="council-overview-content-container-group">
            <div class="council-overview-content-grid-item">
                <h3>Accreditation Requirements Document No. 1</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>
            <div class="council-overview-content-grid-item">
                <h3>Accreditation Requirements Document No. 2</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>

            <div class="council-overview-content-grid-item">
                <h3>Accreditation Requirements Document No. 3</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    document.getElementById('open-modal-button').addEventListener('click', function () {
        document.getElementById('modal-content').style.display = 'block';
    });

    document.querySelector('.close-button').addEventListener('click', function () {
        document.getElementById('modal-content').style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target == document.getElementById('modal-content')) {
            document.getElementById('modal-content').style.display = 'none';
        }
    });
</script>

{% endblock %}