{% extends "base.html" %}

{% block title %}Add Transaction{% endblock %}

{% block content %}
<div class="council-overview-container">
    {% include "council-overview-sidebar.html" %}

    <div class="council-overview-content-container">
        <a href="{{ url_for('event_dashboard') }}" class="secondary-button fit-content-button">Back to Event
            Dashboard</a>

        <div class="container">
            <h2>Add Transaction</h2>

            <form method="POST">
                <div class="input-pair">
                    <label for="date">Date</label>
                    <input type="datetime-local" name="date" id="date" required>
                </div>

                <div class="input-pair">
                    <label for="transaction-name">Transaction Name</label>
                    <input type="text" name="transaction-name" id="transaction-name" placeholder="Transaction Name"
                        required>
                </div>

                <div class="input-pair">
                    <label for="unit-amount">Unit Amount</label>
                    <input type="number" name="unit-amount" id="unit-amount" placeholder="Unit Amount" required>
                </div>

                <div class="input-pair">
                    <label for="unit-price">Unit Price</label>
                    <input type="number" name="unit-price" id="unit-price" placeholder="Unit Price" required>
                </div>

                <div class="input-pair">
                    <label for="total">Total</label>
                    <input type="number" name="total" id="total" placeholder="Total" required>
                </div>

                <div class="input-pair">
                    <label for="category">Category</label>
                    <select name="category" id="category" required>
                        <option value="" disabled selected>Select a Category</option>
                        <option value="1">Category 1</option>
                        <option value="2">Category 2</option>
                        <option value="3">Category 3</option>
                    </select>
                </div>

                <div class="input-pair">
                    <label for="transaction-type">Transaction Type</label>
                    <select name="transaction-type" id="transaction-type" required>
                        <option value="expense" selected>Expense</option>
                        <option value="income">Income</option>
                    </select>
                </div>

                <div class="input-pair">
                    <label for="receipt">Receipt</label>
                    <input type="file" name="receipt" id="receipt" hidden>
                    <label for="receipt" class="custom-file-upload-input">
                        <span class="choose-file-text">Choose File</span>
                        <span id="file-name" class="file-name">No file chosen</span>
                    </label>
                </div>

                <button class="primary-button" type="submit">Add Transaction</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script>
    document.getElementById('receipt').addEventListener('change', function () {
        const fileName = this.files[0] ? this.files[0].name : 'No file chosen';
        document.getElementById('file-name').textContent = fileName;
    });
</script>

{% endblock %}