<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Council - {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <!-- Include Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <h1><a class="logo-button" href="{{ url_for('index') }}">E-Council</a></h1>

        <nav>
            <ul>
                <li>
                    <a class="text-button" href="{{ url_for('index') }}">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li>
                        <a class="text-button account-image-container" href="{{ url_for('account') }}">
                            <img class="small-account-picture" src="https://placehold.co/40x40.png" alt="Small Account Picture">
                            Account
                        </a>
                    </li>
                    <li>
                        <a class="secondary-button" href="{{ url_for('logout') }}">Log Out</a>
                    </li>
                {% else %}
                    <li>
                        <a class="secondary-button" href="{{ url_for('login') }}">Log In</a>
                    </li>
                    <li>
                        <a class="primary-button" href="{{ url_for('signup') }}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    {% block script %}{% endblock %}
</body>
</html>