{% extends "base.html" %}

{% block title %}Events Overview{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "council-overview-sidebar.html" %}

    <div class="council-overview-content-container">
        <h2>Concept Papers Overview</h2>

        <button id="open-modal-button" class="primary-button create-button" type="submit">Create New Concept
            Paper</button>

        <div id="concept-paper-modal" class="modal">
            <div class="container">
                <span class="close-button">&times;</span>
                <h2>Create Concept Paper</h2>
                <form>
                    <!-- FOR Section -->
                    <h3>FOR</h3>
                    <div class="input-pair">
                        <label for="signatory_name_1">Name:</label>
                        <input type="text" id="signatory_name_1" name="signatory_name_1" required>
                    </div>
                    <div class="input-pair">
                        <label for="signatory_position_1">Position:</label>
                        <input type="text" id="signatory_position_1" name="signatory_position_1" required>
                    </div>

                    <!-- THRU Section -->
                    <h3>THRU</h3>
                    <div class="input-pair">
                        <label for="signatory_name_2">Name:</label>
                        <input type="text" id="signatory_name_2" name="signatory_name_2" required>
                    </div>
                    <div class="input-pair">
                        <label for="signatory_position_2">Position:</label>
                        <input type="text" id="signatory_position_2" name="signatory_position_2" required>
                    </div>
                    <div class="input-pair">
                        <label for="signatory_department_2">Department:</label>
                        <input type="text" id="signatory_department_2" name="signatory_department_2" required>
                    </div>

                    <!-- FROM Section -->
                    <h3>FROM</h3>
                    <div class="input-pair">
                        <label for="signatory_name_3">Name:</label>
                        <input type="text" id="signatory_name_3" name="signatory_name_3" required>
                    </div>
                    <div class="input-pair">
                        <label for="signatory_position_3">Position:</label>
                        <input type="text" id="signatory_position_3" name="signatory_position_3" required>
                    </div>
                    <div class="input-pair">
                        <label for="signatory_department_3">Department:</label>
                        <input type="text" id="signatory_department_3" name="signatory_department_3" required>
                    </div>

                    <!-- Subject and Description -->
                    <h3>Subject</h3>
                    <div class="input-pair">
                        <label for="subject_title">Title:</label>
                        <input type="text" id="subject_title" name="subject_title" required>
                    </div>
                    <div class="input-pair">
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" required></textarea>
                    </div>

                    <!-- Objectives and Learning Outcomes -->

                    <div class="input-pair">
                        <label for="objective_of_the_activity">Objectives</label>
                        <textarea id="objective_of_the_activity" name="objective_of_the_activity" required></textarea>
                    </div>
                    <div class="input-pair">
                        <label for="learning_outcome">Learning Outcomes</label>
                        <textarea id="learning_outcome" name="learning_outcome" required></textarea>
                    </div>

                    <!-- Expected Participants -->
                    <h3>Expected No. of Participants</h3>
                    <div class="input-pair">
                        <label for="number_of_expected_students">Students:</label>
                        <input type="number" id="number_of_expected_students" name="number_of_expected_students" required>
                    </div>
                    <div class="input-pair">
                        <label for="number_of_expected_faculty">Faculty:</label>
                        <input type="number" id="number_of_expected_faculty" name="number_of_expected_faculty" required>
                    </div>

                    <!-- Prepared By -->
                    <h3>Prepared By</h3>
                    <div class="input-pair">
                        <label for="prepared_by_name">Name:</label>
                        <input type="text" id="prepared_by_name" name="prepared_by_name" required>
                    </div>
                    <div class="input-pair">
                        <label for="prepared_by_position">Position:</label>
                        <input type="text" id="prepared_by_position" name="prepared_by_position" required>
                    </div>
                    <div class="input-pair">
                        <label for="prepared_by_student_council">Student Council:</label>
                        <input type="text" id="prepared_by_student_council" name="prepared_by_student_council" required>
                    </div>

                    <!-- Signed and Reviewed By -->
                    <h3>Signed and Reviewed By</h3>
                    <div class="input-pair">
                        <label for="signed_and_reviewed_by_name">Name:</label>
                        <input type="text" id="signed_and_reviewed_by_name" name="signed_and_reviewed_by_name" required>
                    </div>
                    <div class="input-pair">
                        <label for="signed_and_reviewed_by_position">Position:</label>
                        <input type="text" id="signed_and_reviewed_by_position" name="signed_and_reviewed_by_position"
                            required>
                    </div>
                    <div class="input-pair">
                        <label for="signed_and_reviewed_by_student_council">Student Council:</label>
                        <input type="text" id="signed_and_reviewed_by_student_council"
                            name="signed_and_reviewed_by_student_council" required>
                    </div>

                    <button type="submit" class="primary-button">Create New Concept Paper</button>
                </form>
            </div>
        </div>

        <div class="horizontal-input-pair">
            <select name="council-overview-school-year" id="council-overview-school-year"
                aria-label="Select a School Year" required>
                <option value="" disabled selected>Select a School Year</option>
                <option value="2024-2025">S.Y 2024-2025</option>
            </select>

            <div class="council-overview-select-group">
                <select name="council-overview-filter-by-status" id="council-overview-filter-by-status"
                    aria-label="Filter by Status" required>
                    <option value="" disabled selected>Filter by Status</option>
                    <option value="upcoming">Upcoming</option>
                    <option value="postponed">Postponed</option>
                    <option value="done">Done</option>
                    <option value="cancelled">Cancelled</option>
                </select>
                <select name="council-overview-filter-by-semester" id="council-overview-filter-by-semester"
                    aria-label="Filter by Semester" required>
                    <option value="" disabled selected>Filter by Semester</option>
                    <option value="1st-semester">1st Semester</option>
                    <option value="2nd-semester">2nd Semester</option>
                </select>
                <select name="council-overview-sort-by-date" id="council-overview-sort-by-date"
                    aria-label="Sort by Date" required>
                    <option value="" disabled selected>Sort by Date</option>
                    <option value="recent-to-old">Recent to Old</option>
                    <option value="old-to-recent">Old to Recent</option>
                </select>
            </div>
        </div>

        <div class="council-overview-content-container-group">
            <div class="council-overview-content-grid-item">
                <select name="event-status-select-button" id="event-status-select-button" aria-label="Select a Status"
                    required>
                    <option value="" disabled selected>Select a Status</option>
                    <option value="upcoming">Upcoming</option>
                    <option value="postponed">Postponed</option>
                    <option value="done">Done</option>
                    <option value="cancelled">Cancelled</option>
                </select>

                <h3>Concept Paper No. 1</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-details">
                    <div class="grid-item-details-pair">
                        <p>Date:</p>
                        <p>July 8, 2024</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Time:</p>
                        <p>8:00 AM - 5:00 PM</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Venue:</p>
                        <p>Computer Laboratory M-209 & M-210</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Budget:</p>
                        <p>₱ 0.00</p>
                    </div>
                </div>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>
            <div class="council-overview-content-grid-item">
                <select name="event-status-select-button" id="event-status-select-button" aria-label="Select a Status"
                    required>
                    <option value="" disabled selected>Select a Status</option>
                    <option value="upcoming">Upcoming</option>
                    <option value="postponed">Postponed</option>
                    <option value="done">Done</option>
                    <option value="cancelled">Cancelled</option>
                </select>

                <h3>Concept Paper No. 2</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-details">
                    <div class="grid-item-details-pair">
                        <p>Date:</p>
                        <p>July 8, 2024</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Time:</p>
                        <p>8:00 AM - 5:00 PM</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Venue:</p>
                        <p>Computer Laboratory M-209 & M-210</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Budget:</p>
                        <p>₱ 0.00</p>
                    </div>
                </div>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>
            <div class="council-overview-content-grid-item">
                <select name="event-status-select-button" id="event-status-select-button" aria-label="Select a Status"
                    required>
                    <option value="" disabled selected>Select a Status</option>
                    <option value="upcoming">Upcoming</option>
                    <option value="postponed">Postponed</option>
                    <option value="done">Done</option>
                    <option value="cancelled">Cancelled</option>
                </select>

                <h3>Concept Paper No. 3</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-details">
                    <div class="grid-item-details-pair">
                        <p>Date:</p>
                        <p>July 8, 2024</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Time:</p>
                        <p>8:00 AM - 5:00 PM</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Venue:</p>
                        <p>Computer Laboratory M-209 & M-210</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Budget:</p>
                        <p>₱ 0.00</p>
                    </div>
                </div>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    document.getElementById('open-modal-button').addEventListener('click', function () {
        document.getElementById('concept-paper-modal').style.display = 'block';
    });

    document.querySelector('.close-button').addEventListener('click', function () {
        document.getElementById('concept-paper-modal').style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target == document.getElementById('concept-paper-modal')) {
            document.getElementById('concept-paper-modal').style.display = 'none';
        }
    });
</script>

{% endblock %}