{% extends "base.html" %}

{% block title %}Events Overview{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "council-overview-sidebar.html" %}

    <div class="council-overview-content-container">
        <h2>Documentation Overview</h2>

        <button id="open-modal-button" class="primary-button create-button" type="submit">Create New Documentation</button>

        <div id="modal-content" class="modal">
            <div class="container">
                <span class="close-button">&times;</span>
                <h2>Create Documentation</h2>
                <form>
                    <div class="input-pair">
                        <label for="event">Event</label>
                        <select name="event" id="event" required>
                            <option value="" disabled selected>Select an Event for Documentation</option>
                            <option value="student-council-officer">"TechTutor: Empowering Communities with AI-Assisted IT Skills"</option>
                        </select>
                    </div>

                    <div class="input-pair">
                        <label for="documentation-type">Documentation Type</label>
                        <select name="documentation-type" id="documentation-type" required>
                            <option value="" disabled selected>Select a Documentation Type</option>
                            <option value="after-documentation">After Documentation</option>
                            <option value="activity-report">Activity Report</option>
                        </select>
                    </div>

                    <button type="submit" class="primary-button">Create New Documentation</button>
                </form>
            </div>
        </div>

        <div class="horizontal-input-pair">
            <select name="council-overview-school-year" id="council-overview-school-year"
                aria-label="Select a School Year" required>
                <option value="" disabled selected>Select a School Year</option>
                <option value="2024-2025">S.Y 2024-2025</option>
            </select>

            <div class="council-overview-select-group">
                <select name="council-overview-filter-by-status" id="council-overview-filter-by-status"
                    aria-label="Filter by Status" required>
                    <option value="" disabled selected>Filter by Status</option>
                    <option value="upcoming">Upcoming</option>
                    <option value="postponed">Postponed</option>
                    <option value="done">Done</option>
                    <option value="cancelled">Cancelled</option>
                </select>
                <select name="council-overview-filter-by-semester" id="council-overview-filter-by-semester"
                    aria-label="Filter by Semester" required>
                    <option value="" disabled selected>Filter by Semester</option>
                    <option value="1st-semester">1st Semester</option>
                    <option value="2nd-semester">2nd Semester</option>
                </select>
                <select name="council-overview-sort-by-date" id="council-overview-sort-by-date"
                    aria-label="Sort by Date" required>
                    <option value="" disabled selected>Sort by Date</option>
                    <option value="recent-to-old">Recent to Old</option>
                    <option value="old-to-recent">Old to Recent</option>
                </select>
            </div>
        </div>

        <div class="council-overview-content-container-group">
            <div class="council-overview-content-grid-item">
                <select name="event-status-select-button" id="event-status-select-button" aria-label="Select a Status"
                    required>
                    <option value="" disabled selected>Select a Status</option>
                    <option value="upcoming">Upcoming</option>
                    <option value="postponed">Postponed</option>
                    <option value="done">Done</option>
                    <option value="cancelled">Cancelled</option>
                </select>

                <h3>Activity Report No. 1</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>
            <div class="council-overview-content-grid-item">
                <select name="event-status-select-button" id="event-status-select-button" aria-label="Select a Status"
                    required>
                    <option value="" disabled selected>Select a Status</option>
                    <option value="upcoming">Upcoming</option>
                    <option value="postponed">Postponed</option>
                    <option value="done">Done</option>
                    <option value="cancelled">Cancelled</option>
                </select>

                <h3>Activity Report No. 2</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>

            <div class="council-overview-content-grid-item">
                <select name="event-status-select-button" id="event-status-select-button" aria-label="Select a Status"
                    required>
                    <option value="" disabled selected>Select a Status</option>
                    <option value="upcoming">Upcoming</option>
                    <option value="postponed">Postponed</option>
                    <option value="done">Done</option>
                    <option value="cancelled">Cancelled</option>
                </select>

                <h3>After Docs No. 1</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    document.getElementById('open-modal-button').addEventListener('click', function () {
        document.getElementById('modal-content').style.display = 'block';
    });

    document.querySelector('.close-button').addEventListener('click', function () {
        document.getElementById('modal-content').style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target == document.getElementById('modal-content')) {
            document.getElementById('modal-content').style.display = 'none';
        }
    });
</script>

{% endblock %}