{% extends "base.html" %}

{% block title %}Event Invitation Accepted{% endblock %}

{% block content %}
<div class="council-overview-container">
    {% include "council-overview-sidebar.html" %}

    <div class="council-overview-content-container">
        <div class="container">
            <h2>Event Invitation Accepted</h2>

            <p>You have successfully accepted the invitation to manage the event: "TechTutor: Empowering Communities with AI-Assisted IT Skills"</p>

            <div class="horizontal-input-pair">
                <a href="{{ url_for('events_overview') }}" class="secondary-button">Back to Events Overview</a>
                <a href="{{ url_for('event_dashboard') }}" class="primary-button">View Event</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}