{% extends "base.html" %}

{% block title %}Council Overview{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "council-overview-sidebar.html" %}

    <div class="council-overview-content-container">

        <div class="horizontal-button-group">
            <a href="{{ url_for('events_overview') }}" class="primary-button">Back to Events Overview</a>
            <a class="secondary-button">Add Transaction</a>
            <a class="secondary-button">Invite User</a>
            <a class="secondary-button">Generate Financial Report</a>
        </div>
        <h2>"TechTutor: Empowering Communities with AI-Assisted IT Skills"</h2>

        <div class="council-overview-content-container-group">
            <div class="council-overview-content-grid-item">
                <h3>Top 5 Expenses</h3>

                <div class="events-overview-chart-container">
                    <canvas id="top-5-expenses-chart"></canvas>
                </div>

                <p>Total expenses: ₱ 20,000.00</p>
            </div>

            <div class="council-overview-content-grid-item">
                <h3>Top 5 Income</h3>

                <div class="events-overview-chart-container">
                    <canvas id="top-5-income-chart"></canvas>
                </div>

                <p>Total Income: ₱ 640.00</p>
            </div>

            <div class="council-overview-content-grid-item">
                <h3>Remaining Budget</h3>

                <div class="events-overview-chart-container">
                    <canvas id="remaining-budget-chart"></canvas>
                </div>

                <p>Remaining Budget: ₱ 640.00</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Data for top 5 expenses, top 5 income, and remaining budget
    let top5Expenses = [4000, 5000, 3000, 6000, 2000]; // Adjusted array to total 20,000
    const remainingBudget = 20000; // Example value
    const expenses = 23000; // Example value
    const overBudget = expenses > remainingBudget ? expenses - remainingBudget : 0; // Calculate over budget amount

    // Function to update the chart when color scheme changes
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        updateChartColors();
    });

    // Function to update chart colors dynamically
    function updateChartColors() {
        const labelColor = getLabelColor();
        const rangeColor = getRangeColor();

        // Update legend label colors
        top5ExpensesChart.options.plugins.legend.labels.color = labelColor;
        top5ExpensesChart.options.scales.x.title.color = rangeColor;
        top5ExpensesChart.options.scales.x.ticks.color = rangeColor;
        top5ExpensesChart.update();

        top5IncomeChart.options.plugins.legend.labels.color = labelColor;
        top5IncomeChart.options.scales.x.title.color = rangeColor;
        top5IncomeChart.options.scales.x.ticks.color = rangeColor;
        top5IncomeChart.update();

        remainingBudgetChart.options.plugins.legend.labels.color = labelColor;
        remainingBudgetChart.options.scales.x.title.color = rangeColor;
        remainingBudgetChart.options.scales.x.ticks.color = rangeColor;
        remainingBudgetChart.update();
    }

    // Function to get CSS variable value
    function getCssVariable(variable) {
        return getComputedStyle(document.documentElement).getPropertyValue(variable).trim();
    }

    // Update the label and range colors using CSS variables
    function getLabelColor() {
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? getCssVariable('--primary-text-color') // Dark mode
            : getCssVariable('--primary-text-color'); // Light mode
    }

    function getRangeColor() {
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? getCssVariable('--primary-text-color')
            : getCssVariable('--primary-text-color');
    }

    function getFontFamily() {
        chartFontFamily = getCssVariable('--chart-font-family');
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? chartFontFamily
            : chartFontFamily;
    }

    function getFontSize() {
        chartFontSize = getCssVariable('--chart-font-size');
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? chartFontSize
            : chartFontSize;
    }

    function getFontWeight() {
        chartFontWeight = getCssVariable('--chart-font-weight');
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? chartFontWeight
            : chartFontWeight;
    }

    // Initialize the top 5 expenses chart
    const ctx1 = document.getElementById('top-5-expenses-chart').getContext('2d');
    let top5ExpensesChart = new Chart(ctx1, {
        type: 'doughnut', // Use 'doughnut' type
        data: {
            labels: ['Expense 1', 'Expense 2', 'Expense 3', 'Expense 4', 'Expense 5'], // Labels for the datasets
            datasets: [
                {
                    data: top5Expenses, // Use the array of top 5 expenses
                    backgroundColor: [
                        getCssVariable('--expense-color-1'),
                        getCssVariable('--expense-color-2'),
                        getCssVariable('--expense-color-3'),
                        getCssVariable('--expense-color-4'),
                        getCssVariable('--expense-color-5')
                    ],
                    borderColor: [
                        getCssVariable('--expense-color-1'),
                        getCssVariable('--expense-color-2'),
                        getCssVariable('--expense-color-3'),
                        getCssVariable('--expense-color-4'),
                        getCssVariable('--expense-color-5')
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false, // Allow the chart to resize based on its container
            plugins: {
                legend: {
                    display: true, // Show the legend
                    labels: {
                        color: getLabelColor(),
                        font: {
                            family: getFontFamily(),
                            size: getFontSize(),
                            weight: getFontWeight()
                        }
                    }
                }
            }
        }
    });
    
    // Initialize the top 5 income chart
    const ctx2 = document.getElementById('top-5-income-chart').getContext('2d');
    let top5IncomeChart = new Chart(ctx2, {
        type: 'doughnut', // Use 'doughnut' type
        data: {
            labels: ['Remaining Budget', 'Expenses (Within Budget)', 'Expenses (Over Budget)'], // Labels for the datasets
            datasets: [
                {
                    data: [
                        remainingBudget,
                        expenses <= remainingBudget ? expenses : remainingBudget,
                        overBudget
                    ],
                    backgroundColor: [
                        getCssVariable('--remaining-budget-color'),
                        getCssVariable('--expenses-within-budget-color'),
                        getCssVariable('--expenses-over-budget-color')
                    ],
                    borderColor: [
                        getCssVariable('--remaining-budget-color'),
                        getCssVariable('--expenses-within-budget-color'),
                        getCssVariable('--expenses-over-budget-color')
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false, // Allow the chart to resize based on its container
            plugins: {
                legend: {
                    display: true, // Show the legend
                    labels: {
                        color: getLabelColor(),
                        font: {
                            family: getFontFamily(),
                            size: getFontSize(),
                            weight: getFontWeight()
                        }
                    }
                }
            }
        }
    });
    
    // Initialize the remaining budget chart
    const ctx3 = document.getElementById('remaining-budget-chart').getContext('2d');
    let remainingBudgetChart = new Chart(ctx3, {
        type: 'doughnut', // Use 'doughnut' type
        data: {
            labels: ['Remaining Budget', 'Expenses (Within Budget)', 'Expenses (Over Budget)'], // Labels for the datasets
            datasets: [
                {
                    data: [
                        remainingBudget,
                        expenses <= remainingBudget ? expenses : remainingBudget,
                        overBudget
                    ],
                    backgroundColor: [
                        getCssVariable('--remaining-budget-color'),
                        getCssVariable('--expenses-within-budget-color'),
                        getCssVariable('--expenses-over-budget-color')
                    ],
                    borderColor: [
                        getCssVariable('--remaining-budget-color'),
                        getCssVariable('--expenses-within-budget-color'),
                        getCssVariable('--expenses-over-budget-color')
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false, // Allow the chart to resize based on its container
            plugins: {
                legend: {
                    display: true, // Show the legend
                    labels: {
                        color: getLabelColor(),
                        font: {
                            family: getFontFamily(),
                            size: getFontSize(),
                            weight: getFontWeight()
                        }
                    }
                }
            }
        }
    });
</script>

{% endblock %}