{% extends "base.html" %}

{% block title %}Events Overview{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "council-overview-sidebar.html" %}

    <div class="council-overview-content-container">
        <!-- Flash messages section for the main page -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages center no-top-margin">
            {% for category, message in messages %}
            {% if category != 'modal-error' %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <h2>Events Overview</h2>

        <button id="open-add-event-modal-button" class="primary-button create-button" type="submit">Create New
            Event</button>

        <!-- Add Event Modal -->
        <div id="add-event-modal-content" class="modal">
            <div class="container">
                <span id="close-add-event-modal-button" class="close-button">&times;</span>
                <h2>Add Event</h2>

                <!-- Flash messages section for the modal -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flash-messages center no-top-margin bottom-margin">
                    {% for category, message in messages %}
                    {% if category == 'modal-error' %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                <form method="POST" action="{{ url_for('add_event') }}">
                    <input type="hidden" name="show_modal" id="show_modal"
                        value="{{ 'true' if show_modal else 'false' }}">
                    <div class="input-pair">
                        <label for="events-name">Event Name</label>
                        <input type="text" name="events-name" id="events-name" placeholder="Event Name" required>
                    </div>

                    <div class="input-pair">
                        <label for="events-semester">Semester</label>
                        <select name="events-semester" id="events-semester" required>
                            <option value="" disabled selected>Select a Semester</option>
                            <option value="1st Semester">1st Semester</option>
                            <option value="2nd Semester">2nd Semester</option>
                        </select>
                    </div>

                    <div class="input-pair">
                        <label for="events-academic-year">Academic Year</label>
                        <select name="events-academic-year" id="events-academic-year" required>
                            <option value="" disabled selected>Select an Academic Year</option>
                            <option value="2024-2025">2024-2025</option>
                        </select>
                    </div>

                    <div class="input-pair">
                        <label for="events-start-date-and-time">Start Date and Time</label>
                        <input type="datetime-local" name="events-start-date-and-time" id="events-start-date-and-time"
                            required>
                    </div>

                    <div class="input-pair">
                        <label for="events-end-date-and-time">End Date and Time</label>
                        <input type="datetime-local" name="events-end-date-and-time" id="events-end-date-and-time"
                            required>
                    </div>

                    <div class="input-pair">
                        <label for="events-venue">Venue</label>
                        <input type="text" name="events-venue" id="events-venue" placeholder="Venue" required>
                    </div>

                    <div class="input-pair">
                        <label for="events-budget">Budget</label>
                        <input type="number" name="events-budget" id="events-budget" placeholder="Budget" required>
                    </div>

                    <div class="input-pair">
                        <label for="events-status">Event Status</label>
                        <select name="events-status" id="events-status" required>
                            <option value="" disabled selected>Select an Event Status</option>
                            <option value="Upcoming">Upcoming</option>
                            <option value="Postponed">Postponed</option>
                            <option value="Done">Done</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>

                    <div class="input-pair">
                        <label for="events-description">Description</label>
                        <textarea name="events-description" id="events-description" placeholder="Description"
                            required></textarea>
                    </div>

                    <div class="input-pair">
                        <label for="events-remarks">Remarks</label>
                        <input type="text" name="events-remarks" id="events-remarks" placeholder="Remarks (Optional)">
                    </div>

                    <div class="horizontal-input-pair">
                        <a href="{{ url_for('events_overview') }}" class="secondary-button fit-content-button">Back</a>
                        <button class="primary-button" type="submit">Add Event</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Update Event Modal -->
        <div id="update-event-modal-content" class="modal">
            <div class="container">
                <span id="close-update-event-modal-button" class="close-button">&times;</span>
                <h2>Update Event</h2>

                <!-- Flash messages section for the modal -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flash-messages center no-top-margin bottom-margin">
                    {% for category, message in messages %}
                    {% if category == 'modal-error' %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                <form method="POST">
                    <div class="input-pair">
                        <label for="event-name">Event Name</label>
                        <input type="text" name="event-name" id="event-name" placeholder="Event Name" required>
                    </div>

                    <div class="input-pair">
                        <label for="semester">Semester</label>
                        <select name="semester" id="semester" required>
                            <option value="" disabled selected>Select a Semester</option>
                            <option value="1st-semester">1st Semester</option>
                            <option value="2nd-semester">2nd Semester</option>
                        </select>
                    </div>

                    <div class="input-pair">
                        <label for="academic-year">Academic Year</label>
                        <select name="academic-year" id="academic-year" required>
                            <option value="" disabled selected>Select an Academic Year</option>
                            <option value="2024-2025">2024-2025</option>
                        </select>
                    </div>

                    <div class="input-pair">
                        <label for="start-date-and-time">Start Date and Time</label>
                        <input type="datetime-local" name="start-date-and-time" id="start-date-and-time" required>
                    </div>

                    <div class="input-pair">
                        <label for="end-date-and-time">End Date and Time</label>
                        <input type="datetime-local" name="end-date-and-time" id="end-date-and-time" required>
                    </div>

                    <div class="input-pair">
                        <label for="venue">Venue</label>
                        <input type="text" name="venue" id="venue" placeholder="Venue" required>
                    </div>

                    <div class="input-pair">
                        <label for="budget">Budget</label>
                        <input type="number" name="budget" id="budget" placeholder="Budget" required>
                    </div>

                    <div class="input-pair">
                        <label for="event-status">Event Status</label>
                        <select name="event-status" id="event-status" required>
                            <option value="" disabled selected>Select an Event Status</option>
                            <option value="upcoming">Upcoming</option>
                            <option value="postponed">Postponed</option>
                            <option value="done">Done</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </div>

                    <div class="input-pair">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" placeholder="Description" required></textarea>
                    </div>

                    <div class="input-pair">
                        <label for="objectives">Objectives</label>
                        <textarea name="objectives" id="objectives" placeholder="Objectives (Optional)"
                            required></textarea>
                    </div>

                    <button class="secondary-button">Add Another Objective</button>

                    <div class="input-pair">
                        <label for="problems-encountered">Problems Encountered</label>
                        <textarea name="problem-encountered" id="problem-encountered"
                            placeholder="Problems Encountered (Optional)" required></textarea>
                    </div>

                    <button class="secondary-button">Add Another Problem Encountered</button>

                    <div class="input-pair">
                        <label for="actions-taken">Actions Taken</label>
                        <textarea name="actions-taken" id="actions-taken" placeholder="Actions Taken (Optional)"
                            required></textarea>
                    </div>

                    <button class="secondary-button">Add Another Action Taken</button>

                    <div class="input-pair">
                        <label for="recommendations">Recommendations</label>
                        <textarea name="recommendations" id="recommendations" placeholder="Recommendations (Optional)"
                            required></textarea>
                    </div>

                    <button class="secondary-button">Add Another Recommendation</button>

                    <div class="input-pair">
                        <label for="remarks">Remarks</label>
                        <input type="text" name="remarks" id="remarks" placeholder="Remarks (Optional)">
                    </div>

                    <div class="input-pair">
                        <label for="documentation-pictures">Documentation Pictures</label>
                        <input type="file" name="documentation-pictures" id="documentation-pictures" hidden>
                        <label for="documentation-pictures" class="custom-file-upload-input">
                            <span class="choose-file-text">Choose File</span>
                            <span id="file-name" class="file-name">No file chosen</span>
                        </label>
                    </div>

                    <div class="horizontal-input-pair">
                        <a href="{{ url_for('events_overview') }}" class="secondary-button fit-content-button">Back</a>
                        <button class="primary-button" type="submit">Update Event</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Invite User Modal -->
        <div id="invite-user-modal-content" class="modal">
            <div class="container">
                <span id="close-invite-user-modal-button" class="close-button">&times;</span>
                <h2>Invite a User to Manage</h2>

                <!-- Flash messages section for the modal -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flash-messages center no-top-margin bottom-margin">
                    {% for category, message in messages %}
                    {% if category == 'modal-error' %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                <p>Enter the email address of the user you would like to invite to help you manage "TechTutor:
                    Empowering Communities with AI-Assisted IT Skills".</p>

                <form method="POST">
                    <div class="input-pair">
                        <label for="users-email">User's Email</label>
                        <input type="password" name="users-email" id="users-email" placeholder="User's Email" required>
                    </div>

                    <button class="primary-button" type="submit">Send Email Invite</button>
                </form>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const selects = document.querySelectorAll('select');
                selects.forEach(select => {
                    select.addEventListener('change', function () {
                        this.form.submit();
                    });
                });

                const resetButton = document.getElementById('reset-filters-button');
                resetButton.addEventListener('click', function () {
                    window.location.href = "{{ url_for('events_overview') }}";
                });
            });
        </script>

        <form method="GET" action="{{ url_for('events_overview') }}">
            <div class="horizontal-input-pair">
                <select name="events-overview-academic-year" id="events-overview-academic-year"
                    aria-label="Select an Academic Year">
                    <option value="" disabled>Select an Academic Year</option>
                    {% for year in academic_years %}
                    <option value="{{ year.events_academic_year }}" {% if
                        request.args.get('events-overview-academic-year')==year.events_academic_year or not
                        request.args.get('events-overview-academic-year') and loop.first %}selected{% endif %}>S.Y {{
                        year.events_academic_year }}</option>
                    {% endfor %}
                </select>

                <div class="events-overview-select-group">
                    <select name="events-overview-filter-by-status" id="events-overview-filter-by-status"
                        aria-label="Filter by Status">
                        <option value="" disabled>Filter by Status</option>
                        <option value="All" {% if not request.args.get('events-overview-filter-by-status') or
                            request.args.get('events-overview-filter-by-status')=='All' %}selected{% endif %}>All
                        </option>
                        <option value="Upcoming" {% if request.args.get('events-overview-filter-by-status')=='Upcoming'
                            %}selected{% endif %}>Upcoming</option>
                        <option value="Postponed" {% if
                            request.args.get('events-overview-filter-by-status')=='Postponed' %}selected{% endif %}>
                            Postponed</option>
                        <option value="Done" {% if request.args.get('events-overview-filter-by-status')=='Done'
                            %}selected{% endif %}>Done</option>
                        <option value="Cancelled" {% if
                            request.args.get('events-overview-filter-by-status')=='Cancelled' %}selected{% endif %}>
                            Cancelled</option>
                    </select>
                    <select name="events-overview-filter-by-semester" id="events-overview-filter-by-semester"
                        aria-label="Filter by Semester">
                        <option value="" disabled>Filter by Semester</option>
                        <option value="All" {% if not request.args.get('events-overview-filter-by-semester') or
                            request.args.get('events-overview-filter-by-semester')=='All' %}selected{% endif %}>All
                        </option>
                        <option value="1st Semester" {% if
                            request.args.get('events-overview-filter-by-semester')=='1st Semester' %}selected{% endif
                            %}>1st Semester</option>
                        <option value="2nd Semester" {% if
                            request.args.get('events-overview-filter-by-semester')=='2nd Semester' %}selected{% endif
                            %}>2nd Semester</option>
                    </select>
                    <select name="events-overview-sort-by-date" id="events-overview-sort-by-date"
                        aria-label="Sort by Date">
                        <option value="" disabled {% if not request.args.get('events-overview-sort-by-date')
                            %}selected{% endif %}>Sort by Date</option>
                        <option value="recent-to-old" {% if
                            request.args.get('events-overview-sort-by-date')=='recent-to-old' or not
                            request.args.get('events-overview-sort-by-date') %}selected{% endif %}>Recent to Old
                        </option>
                        <option value="old-to-recent" {% if
                            request.args.get('events-overview-sort-by-date')=='old-to-recent' %}selected{% endif %}>Old
                            to Recent</option>
                    </select>
                    <button type="button" id="reset-filters-button" class="secondary-button fit-content-button">Reset Filters</button>
                </div>
            </div>
        </form>

        <div class="council-overview-content-container-group">
            {% if events %}
            {% for event in events %}
            <div class="council-overview-content-grid-item">
                <select name="event-status-select-button" id="event-status-select-button" aria-label="Select a Status"
                    required>
                    <option value="" disabled selected>Select a Status</option>
                    <option value="Upcoming" {% if event.events_status=='Upcoming' %}selected{% endif %}>Upcoming
                    </option>
                    <option value="Postponed" {% if event.events_status=='Postponed' %}selected{% endif %}>Postponed
                    </option>
                    <option value="Done" {% if event.events_status=='Done' %}selected{% endif %}>Done</option>
                    <option value="Cancelled" {% if event.events_status=='Cancelled' %}selected{% endif %}>Cancelled
                    </option>
                </select>

                <h3>{{ event.events_name }}</h3>

                <p>{{ event.events_description }}</p>

                <div class="grid-item-details">
                    <div class="grid-item-details-pair">
                        <p>Date:</p>
                        <p>{{ event.events_start_date_and_time.strftime('%B %d, %Y') if event.events_start_date_and_time
                            else 'N/A' }}</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Time:</p>
                        <p>{{ event.events_start_date_and_time.strftime('%I:%M %p') if event.events_start_date_and_time
                            else 'N/A' }} - {{ event.events_end_date_and_time.strftime('%I:%M %p') if
                            event.events_end_date_and_time else 'N/A' }}</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Venue:</p>
                        <p>{{ event.events_venue }}</p>
                    </div>
                    <div class="grid-item-details-pair">
                        <p>Budget:</p>
                        <p>₱ {{ "{:,.2f}".format(event.events_budget) if event.events_budget else '0.00' }}</p>
                    </div>
                </div>

                <div class="events-overview-chart-container">
                    <canvas id="budget-chart-{{ loop.index }}"></canvas>
                </div>

                <div class="grid-item-button-group">
                    <a href="{{ url_for('event_dashboard', event_id=event.events_id) }}" class="primary-button">View</a>
                    <button id="open-update-event-modal-button" class="secondary-button">Update</button>
                    <a href="{{ url_for('invite_user', event_id=event.events_id) }}" class="secondary-button">Invite</a>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No events found for your department.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Data for remaining budget and expenses
    const remainingBudget = 20000; // Example value
    const expenses = 23000; // Example value
    const overBudget = expenses > remainingBudget ? expenses - remainingBudget : 0; // Calculate over budget amount

    // Function to update the chart when color scheme changes
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        updateChartColors();
    });

    // Function to update chart colors dynamically
    function updateChartColors() {
        const labelColor = getLabelColor();
        const rangeColor = getRangeColor();

        // Update legend label colors
        budgetChart1.options.plugins.legend.labels.color = labelColor;
        budgetChart1.options.scales.x.title.color = rangeColor;
        budgetChart1.options.scales.x.ticks.color = rangeColor;
        budgetChart1.update();

        budgetChart2.options.plugins.legend.labels.color = labelColor;
        budgetChart2.options.scales.x.title.color = rangeColor;
        budgetChart2.options.scales.x.ticks.color = rangeColor;
        budgetChart2.update();

        budgetChart3.options.plugins.legend.labels.color = labelColor;
        budgetChart3.options.scales.x.title.color = rangeColor;
        budgetChart3.options.scales.x.ticks.color = rangeColor;
        budgetChart3.update();
    }

    // Function to get CSS variable value
    function getCssVariable(variable) {
        return getComputedStyle(document.documentElement).getPropertyValue(variable).trim();
    }

    // Update the label and range colors using CSS variables
    function getLabelColor() {
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? getCssVariable('--primary-text-color') // Dark mode
            : getCssVariable('--primary-text-color'); // Light mode
    }

    function getRangeColor() {
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? getCssVariable('--primary-text-color')
            : getCssVariable('--primary-text-color');
    }

    function getFontFamily() {
        chartFontFamily = getCssVariable('--chart-font-family');
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? chartFontFamily
            : chartFontFamily;
    }

    function getFontSize() {
        chartFontSize = getCssVariable('--chart-font-size');
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? chartFontSize
            : chartFontSize;
    }

    function getFontWeight() {
        chartFontWeight = getCssVariable('--chart-font-weight');
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? chartFontWeight
            : chartFontWeight;
    }

    // Initialize the budget chart 1
    const ctx1 = document.getElementById('budget-chart-1').getContext('2d');
    let budgetChart1 = new Chart(ctx1, {
        type: 'bar', // Use 'bar' type for horizontal bars
        data: {
            labels: ['Budget Overview'], // Label for the dataset
            datasets: [
                {
                    label: 'Remaining Budget',
                    data: [remainingBudget],
                    backgroundColor: getCssVariable('--remaining-budget-color'),
                    borderColor: getCssVariable('--remaining-budget-color'),
                    borderWidth: 1
                },
                {
                    label: 'Expenses (Within Budget)',
                    data: [expenses <= remainingBudget ? expenses : remainingBudget], // Ensure not to exceed the remaining budget
                    backgroundColor: getCssVariable('--expenses-within-budget-color'),
                    borderColor: getCssVariable('--expenses-within-budget-color'),
                    borderWidth: 1,
                    stack: 'expenses' // Stack this dataset with the 'expenses' group
                },
                {
                    label: 'Expenses (Over Budget)',
                    data: [overBudget], // Show over budget amount to the right of the expenses within budget
                    backgroundColor: getCssVariable('--expenses-over-budget-color'), // Dark red color for over budget
                    borderColor: getCssVariable('--expenses-over-budget-color'),
                    borderWidth: 1,
                    stack: 'expenses', // Stack this dataset with the 'expenses' group
                }
            ]
        },
        options: {
            indexAxis: 'y', // Horizontal bars
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false, // Allow the chart to resize based on its container
            scales: {
                y: {
                    display: false // Hide the y-axis
                },
                x: {
                    stacked: true, // Enable stacking for the x-axis
                    beginAtZero: true, // Start the x-axis at 0
                    ticks: {
                        color: getCssVariable('--primary-text-color') // X-axis ticks color
                    },
                    title: {
                        display: true, // Optionally add a title to the X-axis
                        color: getCssVariable('--primary-text-color') // X-axis title color
                    }
                }
            },
            plugins: {
                legend: {
                    display: true, // Show the legend
                    labels: {
                        color: getLabelColor(),
                        font: {
                            family: getFontFamily(),
                            size: getFontSize(),
                            weight: getFontWeight()
                        }
                    }
                },
            },
        }
    });

    // Initialize the budget chart 2
    const ctx2 = document.getElementById('budget-chart-2').getContext('2d');
    let budgetChart2 = new Chart(ctx2, {
        type: 'bar', // Use 'bar' type for horizontal bars
        data: {
            labels: ['Budget Overview'], // Label for the dataset
            datasets: [
                {
                    label: 'Remaining Budget',
                    data: [remainingBudget],
                    backgroundColor: getCssVariable('--remaining-budget-color'),
                    borderColor: getCssVariable('--remaining-budget-color'),
                    borderWidth: 1
                },
                {
                    label: 'Expenses (Within Budget)',
                    data: [expenses <= remainingBudget ? expenses : remainingBudget], // Ensure not to exceed the remaining budget
                    backgroundColor: getCssVariable('--expenses-within-budget-color'),
                    borderColor: getCssVariable('--expenses-within-budget-color'),
                    borderWidth: 1,
                    stack: 'expenses' // Stack this dataset with the 'expenses' group
                },
                {
                    label: 'Expenses (Over Budget)',
                    data: [overBudget], // Show over budget amount to the right of the expenses within budget
                    backgroundColor: getCssVariable('--expenses-over-budget-color'), // Dark red color for over budget
                    borderColor: getCssVariable('--expenses-over-budget-color'),
                    borderWidth: 1,
                    stack: 'expenses', // Stack this dataset with the 'expenses' group
                }
            ]
        },
        options: {
            indexAxis: 'y', // Horizontal bars
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false, // Allow the chart to resize based on its container
            scales: {
                y: {
                    display: false // Hide the y-axis
                },
                x: {
                    stacked: true, // Enable stacking for the x-axis
                    beginAtZero: true, // Start the x-axis at 0
                    ticks: {
                        color: getCssVariable('--primary-text-color') // X-axis ticks color
                    },
                    title: {
                        display: true, // Optionally add a title to the X-axis
                        color: getCssVariable('--primary-text-color') // X-axis title color
                    }
                }
            },
            plugins: {
                legend: {
                    display: true, // Show the legend
                    labels: {
                        color: getLabelColor(),
                        font: {
                            family: getFontFamily(),
                            size: getFontSize(),
                            weight: getFontWeight()
                        }
                    }
                },
            },
        }
    });

    // Initialize the budget chart 2
    const ctx3 = document.getElementById('budget-chart-3').getContext('2d');
    let budgetChart3 = new Chart(ctx3, {
        type: 'bar', // Use 'bar' type for horizontal bars
        data: {
            labels: ['Budget Overview'], // Label for the dataset
            datasets: [
                {
                    label: 'Remaining Budget',
                    data: [remainingBudget],
                    backgroundColor: getCssVariable('--remaining-budget-color'),
                    borderColor: getCssVariable('--remaining-budget-color'),
                    borderWidth: 1
                },
                {
                    label: 'Expenses (Within Budget)',
                    data: [expenses <= remainingBudget ? expenses : remainingBudget], // Ensure not to exceed the remaining budget
                    backgroundColor: getCssVariable('--expenses-within-budget-color'),
                    borderColor: getCssVariable('--expenses-within-budget-color'),
                    borderWidth: 1,
                    stack: 'expenses' // Stack this dataset with the 'expenses' group
                },
                {
                    label: 'Expenses (Over Budget)',
                    data: [overBudget], // Show over budget amount to the right of the expenses within budget
                    backgroundColor: getCssVariable('--expenses-over-budget-color'), // Dark red color for over budget
                    borderColor: getCssVariable('--expenses-over-budget-color'),
                    borderWidth: 1,
                    stack: 'expenses', // Stack this dataset with the 'expenses' group
                }
            ]
        },
        options: {
            indexAxis: 'y', // Horizontal bars
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false, // Allow the chart to resize based on its container
            scales: {
                y: {
                    display: false // Hide the y-axis
                },
                x: {
                    stacked: true, // Enable stacking for the x-axis
                    beginAtZero: true, // Start the x-axis at 0
                    ticks: {
                        color: getCssVariable('--primary-text-color') // X-axis ticks color
                    },
                    title: {
                        display: true, // Optionally add a title to the X-axis
                        color: getCssVariable('--primary-text-color') // X-axis title color
                    }
                }
            },
            plugins: {
                legend: {
                    display: true, // Show the legend
                    labels: {
                        color: getLabelColor(),
                        font: {
                            family: getFontFamily(),
                            size: getFontSize(),
                            weight: getFontWeight()
                        }
                    }
                },
            },
        }
    });

    // File upload
    document.getElementById('documentation-pictures').addEventListener('change', function () {
        const fileName = this.files[0] ? this.files[0].name : 'No file chosen';
        document.getElementById('file-name').textContent = fileName;
    });

    // Add Event Modal
    document.getElementById('open-add-event-modal-button').addEventListener('click', function () {
        document.getElementById('add-event-modal-content').style.display = 'block';
    });

    document.getElementById('close-add-event-modal-button').addEventListener('click', function () {
        document.getElementById('add-event-modal-content').style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target == document.getElementById('add-event-modal-content')) {
            document.getElementById('add-event-modal-content').style.display = 'none';
        }
    });

    // Show modal if validation error occurs
    window.addEventListener('DOMContentLoaded', function () {
        if (document.getElementById('show_modal').value === 'true') {
            document.getElementById('add-event-modal-content').style.display = 'block';
        }
    });

    // Update Event Modal
    document.getElementById('open-update-event-modal-button').addEventListener('click', function () {
        document.getElementById('update-event-modal-content').style.display = 'block';
    });

    document.getElementById('close-update-event-modal-button').addEventListener('click', function () {
        document.getElementById('update-event-modal-content').style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target == document.getElementById('update-event-modal-content')) {
            document.getElementById('update-event-modal-content').style.display = 'none';
        }
    });

    // Invite User Modal
    document.getElementById('open-invite-user-modal-button').addEventListener('click', function () {
        document.getElementById('invite-user-modal-content').style.display = 'block';
    });

    document.getElementById('close-invite-user-modal-button').addEventListener('click', function () {
        document.getElementById('invite-user-modal-content').style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target == document.getElementById('invite-user-modal-content')) {
            document.getElementById('invite-user-modal-content').style.display = 'none';
        }
    });
</script>

{% endblock %}