{% extends "base.html" %}

{% block title %}Council Overview{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "council-overview-sidebar.html" %}

    <div class="council-overview-content-container">

        <!-- Flash messages section for the main page -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages center no-top-margin">
            {% for category, message in messages %}
            {% if category != 'modal-error' %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <!-- Add Transaction Modal -->
        <div id="add-transaction-modal-content" class="modal">
            <div class="container">
                <span id="close-add-transaction-modal-button" class="close-button">&times;</span>
                <h2>Add Transaction</h2>

                <form method="POST" enctype="multipart/form-data"
                    action="{{ url_for('add_transaction', event_id=event.events_id) }}">
                    <div class="input-pair">
                        <label for="transaction-name">Transaction Name</label>
                        <input type="text" name="transaction-name" id="transaction-name" placeholder="Transaction Name"
                            required>
                    </div>

                    <div class="input-pair">
                        <label for="transaction-date">Date</label>
                        <input type="datetime-local" name="transaction-date" id="transaction-date" required>
                    </div>

                    <div class="input-pair">
                        <label for="unit-amount">Unit Amount</label>
                        <input type="number" name="unit-amount" id="unit-amount" placeholder="Unit Amount" required>
                    </div>

                    <div class="input-pair">
                        <label for="transaction-unit-price">Unit Price</label>
                        <input type="number" name="transaction-unit-price" id="transaction-unit-price"
                            placeholder="Unit Price" required>
                    </div>

                    <div class="input-pair">
                        <label for="transaction-total">Total</label>
                        <input type="number" name="transaction-total" id="transaction-total" placeholder="Total"
                            required>
                    </div>

                    <div class="input-pair">
                        <label for="transaction-category">Category</label>
                        <select name="transaction-category" id="transaction-category" required>
                            <option value="" disabled selected>Select a Category</option>
                            <option value="1">Category 1</option>
                            <option value="2">Category 2</option>
                            <option value="3">Category 3</option>
                        </select>
                    </div>

                    <div class="input-pair">
                        <label for="transaction-type">Transaction Type</label>
                        <select name="transaction-type" id="transaction-type" required>
                            <option value="Expense" selected>Expense</option>
                            <option value="Income">Income</option>
                        </select>
                    </div>

                    <div class="input-pair">
                        <label for="transaction-receipt">Receipt</label>
                        <input type="file" name="transaction-receipt" id="transaction-receipt" hidden>
                        <label for="transaction-receipt" class="custom-file-upload-input">
                            <span class="choose-file-text">Choose File</span>
                            <span id="file-name" class="file-name">No file chosen</span>
                        </label>
                    </div>

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="horizontal-input-pair">
                        <button id="cancel-add-transaction-modal-button" class="secondary-button fit-content-button"
                            type="button">Cancel</button>
                        <button class="primary-button" type="submit">Add Transaction</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Event Invite Modal -->
        <div id="event-invite-modal-content" class="modal">
            <div class="container">
                <span id="close-event-invite-modal-button" class="close-button">&times;</span>
                <h2>Invite a User to Manage</h2>

                <p>Enter the email address of the user you would like to invite to help you manage "{{ event.events_name
                    }}".</p>

                <form method="POST" action="{{ url_for('invite_user', event_id=event.events_id) }}">
                    <div class="input-pair">
                        <label for="users-email">User's Email</label>
                        <input type="email" name="users-email" id="users-email" placeholder="User's Email" required>
                    </div>

                    <input type="hidden" name="source" value="event_dashboard">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="horizontal-button-pair-positioned-right">
                        <button class="primary-button" type="submit">Send Email Invite</button>
                        <button id="cancel-event-invite-modal-button" class="secondary-button"
                            type="button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="horizontal-button-group">
            <a href="{{ url_for('events_overview') }}" class="primary-button">Back to Events Overview</a>
            <button id="open-add-transaction-modal-button" class="secondary-button">Add Transaction</button>
            <button id="open-event-invite-modal-button" class="secondary-button">Invite User</button>
            <a class="secondary-button">Generate Financial Report</a>
        </div>
        <h2>{{ event.events_name }}</h2>

        <div class="council-overview-content-container-group">
            <div class="council-overview-content-grid-item">
                <h3>Top 5 Expenses</h3>

                <div class="event-dashboard-chart-container">
                    <canvas id="top-5-expenses-chart"></canvas>
                </div>

                <p>Total expenses: ₱ 20,000.00</p>
            </div>

            <div class="council-overview-content-grid-item">
                <h3>Top 5 Income</h3>

                <div class="event-dashboard-chart-container">
                    <canvas id="top-5-income-chart"></canvas>
                </div>

                <p>Total Income: ₱ 15,000.00</p>
            </div>

            <div class="council-overview-content-grid-item">
                <h3>Remaining Budget</h3>

                <div class="event-dashboard-chart-container">
                    <canvas id="remaining-budget-chart"></canvas>
                </div>

                <p>Remaining Budget: ₱ -5,000.00</p>
            </div>
        </div>

        <div class="council-overview-content-grid-item">
            <h3>Transaction History</h3>

            <div class="council-overview-content-grid-item">
                <div class="transaction-history-filter-container">
                    <label for="transaction-history-date-sort">Sort by Date:</label>
                    <select name="transaction-history-date-sort" id="transaction-history-date-sort">
                        <option value="recent-to-old" selected>Recent to Old</option>
                        <option value="old-to-recent">Old to Recent</option>
                    </select>

                    <label for="transaction-history-date-filter">Filter by Date:</label>
                    <select name="transaction-history-date-filter" id="transaction-history-date-filter">
                        <option value="all" selected>All</option>
                        <option value="today">Today</option>
                        <option value="yesterday">Yesterday</option>
                        <option value="last-7-days">Last 7 Days</option>
                        <option value="last-14-days">Last 14 Days</option>
                        <option value="last-30-days">Last 30 Days</option>
                        <option value="last-60-days">Last 60 Days</option>
                        <option value="last-90-days">Last 90 Days</option>
                    </select>

                    <label for="transaction-history-filter-by-transaction-type">Filter by Transaction Type:</label>
                    <select name="transaction-history-filter-by-transaction-type"
                        id="transaction-history-filter-by-transaction-type">
                        <option value="all" selected>All</option>
                        <option value="Income">Income</option>
                        <option value="Expense">Expense</option>
                    </select>

                    <button class="primary-button fit-content-button">Apply</button>
                    <button class="secondary-button fit-content-button">Reset</button>
                </div>
            </div>

            <div class="pagination-container">
                <button class="primary-button fit-content-button">Previous</button>
                <p>Page 1 of 1</p>
                <button class="primary-button fit-content-button">Next</button>
            </div>

            <div class="transaction-history-table-container">
                <table class="transaction-history-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Unit Amount</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                            <th>Category</th>
                            <th>Transaction Type</th>
                            <th>Receipt</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.transaction_date.strftime('%Y-%m-%d %I:%M %p') }}</td>
                            <td>{{ transaction.transaction_name }}</td>
                            <td>{{ transaction.transaction_unit_amount }}</td>
                            <td>₱ {{ "{:,.2f}".format(transaction.transaction_unit_price) }}</td>
                            <td>₱ {{ "{:,.2f}".format(transaction.transaction_total) }}</td>
                            <td>{{ transaction.transaction_category }}</td>
                            <td>{{ transaction.transaction_type }}</td>
                            <td>
                                {% if transaction.transaction_receipt %}
                                <a href="{{ url_for('static', filename='uploads/receipts/' ~ transaction.transaction_receipt) }}"
                                    target="_blank" class="primary-button fit-content-button">View Receipt</a>
                                {% else %}
                                No Receipt
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Data for top 5 expenses, top 5 income, and remaining budget
    let top5Expenses = [4000, 5000, 3000, 6000, 2000]; // Adjusted array to total 20,000
    let top5Income = [3000, 4000, 2000, 5000, 1000]; // Adjusted array to total 15,000

    // Calculate total expenses and total income
    let totalExpenses = top5Expenses.reduce((amount, expense) => amount + expense, 0);
    let totalIncome = top5Income.reduce((amount, income) => amount + income, 0);

    let remainingBudget = totalIncome - totalExpenses;

    // Function to update the chart when color scheme changes
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        updateChartColors();
    });

    // Function to update chart colors dynamically
    function updateChartColors() {
        const labelColor = getLabelColor();
        const rangeColor = getRangeColor();

        // Update legend label colors
        top5ExpensesChart.options.plugins.legend.labels.color = labelColor;
        top5ExpensesChart.update();

        top5IncomeChart.options.plugins.legend.labels.color = labelColor;
        top5IncomeChart.update();

        remainingBudgetChart.options.plugins.legend.labels.color = labelColor;
        remainingBudgetChart.update();
    }

    // Function to get CSS variable value
    function getCssVariable(variable) {
        return getComputedStyle(document.documentElement).getPropertyValue(variable).trim();
    }

    // Update the label and range colors using CSS variables
    function getLabelColor() {
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? getCssVariable('--primary-text-color') // Dark mode
            : getCssVariable('--primary-text-color'); // Light mode
    }

    function getRangeColor() {
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? getCssVariable('--primary-text-color')
            : getCssVariable('--primary-text-color');
    }

    function getFontFamily() {
        chartFontFamily = getCssVariable('--chart-font-family');
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? chartFontFamily
            : chartFontFamily;
    }

    function getFontSize() {
        chartFontSize = getCssVariable('--chart-font-size');
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? chartFontSize
            : chartFontSize;
    }

    function getFontWeight() {
        chartFontWeight = getCssVariable('--chart-font-weight');
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
            ? chartFontWeight
            : chartFontWeight;
    }

    // Initialize the top 5 expenses chart
    const ctx1 = document.getElementById('top-5-expenses-chart').getContext('2d');
    let top5ExpensesChart = new Chart(ctx1, {
        type: 'doughnut', // Use 'doughnut' type
        data: {
            labels: ['Expense 1', 'Expense 2', 'Expense 3', 'Expense 4', 'Expense 5'], // Labels for the datasets
            datasets: [
                {
                    data: top5Expenses, // Use the array of top 5 expenses
                    backgroundColor: [
                        getCssVariable('--expense-color-1'),
                        getCssVariable('--expense-color-2'),
                        getCssVariable('--expense-color-3'),
                        getCssVariable('--expense-color-4'),
                        getCssVariable('--expense-color-5')
                    ],
                    borderColor: [
                        getCssVariable('--expense-color-1'),
                        getCssVariable('--expense-color-2'),
                        getCssVariable('--expense-color-3'),
                        getCssVariable('--expense-color-4'),
                        getCssVariable('--expense-color-5')
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false, // Allow the chart to resize based on its container
            plugins: {
                legend: {
                    display: true, // Show the legend
                    labels: {
                        color: getLabelColor(),
                        font: {
                            family: getFontFamily(),
                            size: getFontSize(),
                            weight: getFontWeight()
                        }
                    }
                }
            }
        }
    });

    // Initialize the top 5 income chart
    const ctx2 = document.getElementById('top-5-income-chart').getContext('2d');
    let top5IncomeChart = new Chart(ctx2, {
        type: 'doughnut', // Use 'doughnut' type
        data: {
            labels: ['Income 1', 'Income 2', 'Income 3', 'Income 4', 'Income 5'], // Labels for the datasets
            datasets: [
                {
                    data: top5Income, // Use the array of top 5 income
                    backgroundColor: [
                        getCssVariable('--income-color-1'),
                        getCssVariable('--income-color-2'),
                        getCssVariable('--income-color-3'),
                        getCssVariable('--income-color-4'),
                        getCssVariable('--income-color-5')
                    ],
                    borderColor: [
                        getCssVariable('--income-color-1'),
                        getCssVariable('--income-color-2'),
                        getCssVariable('--income-color-3'),
                        getCssVariable('--income-color-4'),
                        getCssVariable('--income-color-5')
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false, // Allow the chart to resize based on its container
            plugins: {
                legend: {
                    display: true, // Show the legend
                    labels: {
                        color: getLabelColor(),
                        font: {
                            family: getFontFamily(),
                            size: getFontSize(),
                            weight: getFontWeight()
                        }
                    }
                }
            }
        }
    });

    // Initialize the remaining budget chart
    const ctx3 = document.getElementById('remaining-budget-chart').getContext('2d');
    let remainingBudgetChart = new Chart(ctx3, {
        type: 'doughnut', // Use 'doughnut' type
        data: {
            labels: ['Remaining Budget'], // Labels for the datasets
            datasets: [
                {
                    data: [remainingBudget], // Use the remainingBudget variable
                    backgroundColor: [
                        getCssVariable('--remaining-budget-color')
                    ],
                    borderColor: [
                        getCssVariable('--remaining-budget-color')
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false, // Allow the chart to resize based on its container
            plugins: {
                legend: {
                    display: true, // Show the legend
                    labels: {
                        color: getLabelColor(),
                        font: {
                            family: getFontFamily(),
                            size: getFontSize(),
                            weight: getFontWeight()
                        }
                    }
                }
            }
        }
    });

    // Add Transaction Modal
    document.getElementById('open-add-transaction-modal-button').addEventListener('click', function () {
        document.getElementById('add-transaction-modal-content').style.display = 'block';
    });

    document.getElementById('close-add-transaction-modal-button').addEventListener('click', function () {
        document.getElementById('add-transaction-modal-content').style.display = 'none';
    });

    document.getElementById('cancel-add-transaction-modal-button').addEventListener('click', function () {
        const modal = document.getElementById('add-transaction-modal-content');
        if (modal) {
            modal.style.display = 'none';
        }
    });

    window.addEventListener('click', function (event) {
        if (event.target == document.getElementById('add-transaction-modal-content')) {
            document.getElementById('add-transaction-modal-content').style.display = 'none';
        }
    });

    // File upload
    document.getElementById('transaction-receipt').addEventListener('change', function () {
        const fileName = this.files[0] ? this.files[0].name : 'No file chosen';
        document.getElementById('file-name').textContent = fileName;
    });

    // Event Invite Modal
    document.getElementById('open-event-invite-modal-button').addEventListener('click', function () {
        document.getElementById('event-invite-modal-content').style.display = 'block';
    });

    document.getElementById('close-event-invite-modal-button').addEventListener('click', function () {
        document.getElementById('event-invite-modal-content').style.display = 'none';
    });

    document.getElementById('cancel-event-invite-modal-button').addEventListener('click', function () {
        const modal = document.getElementById('event-invite-modal-content');
        if (modal) {
            modal.style.display = 'none';
        }
    });

    window.addEventListener('click', function (event) {
        if (event.target == document.getElementById('event-invite-modal-content')) {
            document.getElementById('event-invite-modal-content').style.display = 'none';
        }
    });
</script>

{% endblock %}