{% extends "base.html" %}

{% block content %}

<div class="hero-container">
    <div class="hero-column">
        <h2>AI-Powered Student Council Management</h2>

        <p>Experience the future of student council leadership with AI-driven insights that make managing events,
            resources,
            and student engagement smarter, faster, and better.</p>

        <a class="hero-button" href="{{ url_for('signup') }}">Get Started</a>
    </div>

    <div class="hero-column">
        <img src="https://placehold.co/600x400" alt="Placeholder Image">
    </div>
</div>

{% endblock %}