{% extends "base.html" %}

{% block title %}Events Overview{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "council-overview-sidebar.html" %}

    <div class="council-overview-content-container">
        <h2>Notable Achievement Reports Overview</h2>

        <button id="open-modal-button" class="primary-button create-button" type="submit">Create New Notable Achievement Report</button>

        <div id="modal-content" class="modal">
            <div class="container">
                <span class="close-button">&times;</span>
                <h2>Create Notable Achievement Report</h2>
                <form>
                    <div class="input-pair">
                        <label for="event">Event</label>
                        <select name="event" id="event" required>
                            <option value="" disabled selected>Select an Event for Board Resolution</option>
                            <option value="techtutor-empowering-communities-with-ai-assisted-it-skills">"TechTutor: Empowering Communities with AI-Assisted IT Skills"</option>
                        </select>
                        <label for="budget">Budget</label>
                        <input type="number" name="budget" id="budget" placeholder="Budget" required>
                    </div>

                    <button type="submit" class="primary-button">Create New Notable Achievement Report</button>
                </form>
            </div>
        </div>

        <div class="horizontal-input-pair">
            <select name="council-overview-school-year" id="council-overview-school-year"
                aria-label="Select a School Year" required>
                <option value="" disabled selected>Select a School Year</option>
                <option value="2024-2025">S.Y 2024-2025</option>
            </select>

            <div class="council-overview-select-group">
                <select name="council-overview-sort-by-date" id="council-overview-sort-by-date"
                    aria-label="Sort by Date" required>
                    <option value="" disabled selected>Sort by Date</option>
                    <option value="recent-to-old">Recent to Old</option>
                    <option value="old-to-recent">Old to Recent</option>
                </select>
            </div>
        </div>

        <div class="council-overview-content-container-group">
            <div class="council-overview-content-grid-item">
                <h3>Notable Achievement Report No. 1</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>
            <div class="council-overview-content-grid-item">
                <h3>Notable Achievement Report No. 2</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>

            <div class="council-overview-content-grid-item">
                <h3>Notable Achievement Report No. 3</h3>

                <p>The College of Computer Studies will be conducting two certification examinations during the upcoming
                    second semester...</p>

                <div class="grid-item-button-group">
                    <button class="primary-button">View</button>
                    <button class="secondary-button">Update</button>
                    <button class="secondary-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    document.getElementById('open-modal-button').addEventListener('click', function () {
        document.getElementById('modal-content').style.display = 'block';
    });

    document.querySelector('.close-button').addEventListener('click', function () {
        document.getElementById('modal-content').style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target == document.getElementById('modal-content')) {
            document.getElementById('modal-content').style.display = 'none';
        }
    });
</script>

{% endblock %}