{% extends "base.html" %}

{% block title %}Password and Security Settings{% endblock %}

{% block content %}

<div class="account-settings-container">
    {% include "account-settings-sidebar.html" %}

    <div class="account-settings-content-container">
        <h2>Password and Security Settings</h2>

        <form method="POST">
            <div class="input-pair">
                <label for="users-new-password">New Password</label>
                <input type="password" name="users-new-password" id="users-new-password" placeholder="New Password" required>
            </div>
    
            <button class="show-password-button">Show Password</button>
    
            <div class="password-requirements-container">
                <p>Must be at least 8 characters long</p>
                <p>Must contain at least one uppercase letter</p>
                <p>Must contain at least one lowercase letter</p>
                <p>Must contain at least one number</p>
                <p>Must contain at least one special character</p>
            </div>
    
            <div class="input-pair">
                <label for="users-repeat-new-password">Repeat New Password</label>
                <input type="password" name="users-repeat-new-password" id="users-repeat-new-password" placeholder="Repeat New Password" required>
            </div>
    
            <button class="show-password-button">Show Password</button>

            <div class="input-pair">
                <label for="users-current-password">Current Password</label>
                <input type="password" name="users-current-password" id="users-current-password" placeholder="Current Password" required>
            </div>

            <button class="primary-button" type="submit">Save Changes</button>
        </form>
    </div>
</div>

{% endblock %}