{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="container">
    <h2>Reset Your Password</h2>

    <form method="POST">
        <div class="input-pair">
            <label for="users-password">Password</label>
            <input type="password" name="users-password" id="users-password" placeholder="Password" required>
        </div>

        <button class="show-password-button">Show Password</button>

        <div class="password-requirements-container">
            <p>Must be at least 8 characters long</p>
            <p>Must contain at least one uppercase letter</p>
            <p>Must contain at least one lowercase letter</p>
            <p>Must contain at least one number</p>
            <p>Must contain at least one special character</p>
        </div>

        <div class="input-pair">
            <label for="users-repeat-password">Repeat Password</label>
            <input type="password" name="users-repeat-password" id="users-repeat-password" placeholder="Repeat Password" required>
        </div>

        <button class="show-password-button">Show Password</button>

        <button class="primary-button" type="submit">Reset Password</button>
    </form>
</div>

{% endblock %}