{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<!-- Flash messages section -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<div class="container">
    <h2>Sign Up</h2>

    <form id="signup-form" method="POST">
        <div class="input-pair">
            <label for="users-first-name">First Name</label>
            <input type="text" name="users-first-name" id="users-first-name" placeholder="First Name" required>
        </div>

        <div class="input-pair">
            <label for="users-last-name">Last Name</label>
            <input type="text" name="users-last-name" id="users-last-name" placeholder="Last Name" required>
        </div>

        <div class="input-pair">
            <label for="users-username">Username</label>
            <input type="text" name="users-username" id="users-username" placeholder="Username" required>
        </div>

        <div class="input-pair">
            <label for="users-email">Email</label>
            <input type="email" name="users-email" id="users-email" placeholder="Email" required>
        </div>

        <div class="input-pair">
            <label for="users-department">Department</label>
            <select name="users-department" id="users-department" required>
                <option value="" disabled selected>Select a Department</option>
                <option value="College of Computer Studies">College of Computer Studies</option>
                <option value="College of Engineering">College of Engineering</option>
                <option value="College of Architecture">College of Architecture</option>
                <option value="College of Criminology">College of Criminology</option>
                <option value="College of Nursing">College of Nursing</option>
                <option value="College of Arts, Sciences and Education">College of Arts, Sciences and Education</option>
                <option value="College of Business Administration and Accountancy">College of Business Administration
                    and
                    Accountancy</option>
                <option value="College of Physical and Occupational Therapy">College of Physical and Occupational
                    Therapy
                </option>
                <option value="College of International Tourism and Hospitality Management">College of International
                    Tourism
                    and Hospitality Management</option>
                <option value="College of Pharmacy">College of Pharmacy</option>
                <option value="College of Radiologic Technology">College of Radiologic Technology</option>
            </select>
        </div>

        <div class="input-pair">
            <label for="users-role">Role</label>
            <select name="users-role" id="users-role" required>
                <option value="" disabled selected>Select a Role</option>
                <option value="Student Council Officer">Student Council Officer</option>
                <option value="Faculty">Faculty</option>
                <option value="Staff">Staff</option>
            </select>
        </div>

        <div class="input-pair">
            <label for="users-student-organization">Student Organization</label>
            <select name="users-student-organization" id="users-student-organization">
                <option value="" disabled selected>Select a Student Organization</option>
                <option value="College of Computer Studies - Student Council">College of Computer Studies - Student Council (CCS-SC)</option>
                <option value="Junior Philippine Computer Society">Junior Philippine Computer Society (JPCS)</option>
            </select>
        </div>

        <div class="input-pair">
            <label for="users-student-organization-position">Student Organization Position</label>
            <select name="users-student-organization-position" id="users-student-organization-position">
                <option value="" disabled selected>Select a Student Organization Position</option>
                <option value="President">President</option>
                <option value="Vice President">Vice President</option>
                <option value="Secretary">Secretary</option>
                <option value="Treasurer">Treasurer</option>
                <option value="Auditor">Auditor</option>
                <option value="Business Manager">Business Manager</option>
                <option value="Public Relations Officer">Public Relations Officer (P.R.O)</option>
                <option value="1st Year Representative">1st Year Representative</option>
                <option value="2nd Year Representative">2nd Year Representative</option>
                <option value="3rd Year Representative">3rd Year Representative</option>
                <option value="4th Year Representative">4th Year Representative</option>
                <option value="Member">Member</option>
            </select>
        </div>

        <div class="input-pair">
            <label for="users-password">Password</label>
            <input type="password" name="users-password" id="users-password" placeholder="Password" required>
            <div id="password-strength">
                <div id="password-strength-bar"></div>
            </div>
            <p id="password-strength-text"></p>
        </div>

        <button class="show-password-button" type="button" onclick="togglePasswordVisibility('users-password')">Show
            Password</button>

        <div class="password-requirements-container">
            <p id="length-requirement"><i class="bi bi-x-circle" id="length-icon"></i> Must be at least 8 characters
                long</p>
            <p id="uppercase-requirement"><i class="bi bi-x-circle" id="uppercase-icon"></i> Must contain at least one
                uppercase letter</p>
            <p id="lowercase-requirement"><i class="bi bi-x-circle" id="lowercase-icon"></i> Must contain at least one
                lowercase letter</p>
            <p id="number-requirement"><i class="bi bi-x-circle" id="number-icon"></i> Must contain at least one number
            </p>
            <p id="special-requirement"><i class="bi bi-x-circle" id="special-icon"></i> Must contain at least one
                special character</p>
        </div>

        <div class="input-pair">
            <label for="users-repeat-password">Repeat Password</label>
            <input type="password" name="users-repeat-password" id="users-repeat-password" placeholder="Repeat Password"
                required>
            <p id="password-match">Passwords do not match</p>
        </div>

        <button class="show-password-button" type="button"
            onclick="togglePasswordVisibility('users-repeat-password')">Show Password</button>

        <button class="primary-button" type="submit">Sign Up</button>

        <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
    </form>
</div>
{% endblock %}

{% block script %}

<!-- Include zxcvbn library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
<script>
    // Password requirement icons
    var lengthIcon = document.getElementById('length-icon');
    var uppercaseIcon = document.getElementById('uppercase-icon');
    var lowercaseIcon = document.getElementById('lowercase-icon');
    var numberIcon = document.getElementById('number-icon');
    var specialIcon = document.getElementById('special-icon');

    // Initial color of password requirement icons
    lengthIcon.style.color = 'red';
    uppercaseIcon.style.color = 'red';
    lowercaseIcon.style.color = 'red';
    numberIcon.style.color = 'red';
    specialIcon.style.color = 'red';

    document.getElementById('users-password').addEventListener('input', function () {
        var password = this.value;
        var strengthBarContainer = document.getElementById('password-strength');
        var strengthBar = document.getElementById('password-strength-bar');
        var strengthText = document.getElementById('password-strength-text');
        var strengthColors = ['#ff4b4b', '#ff7f50', '#ffd700', '#9acd32', '#00c853'];
        var strengthDescriptions = ['Very Weak', 'Weak', 'Fair', 'Good', 'Strong'];

        // Check password requirements
        var lengthValid = password.length >= 8;
        var uppercaseValid = /[A-Z]/.test(password);
        var lowercaseValid = /[a-z]/.test(password);
        var numberValid = /[0-9]/.test(password);
        var specialValid = /[!@#$%^&*(),.?":{}|<>]/.test(password);

        // Update requirement compliance
        lengthIcon.style.color = lengthValid ? 'green' : 'red';
        lengthIcon.className = lengthValid ? 'bi bi-check-circle' : 'bi bi-x-circle';

        uppercaseIcon.style.color = uppercaseValid ? 'green' : 'red';
        uppercaseIcon.className = uppercaseValid ? 'bi bi-check-circle' : 'bi bi-x-circle';

        lowercaseIcon.style.color = lowercaseValid ? 'green' : 'red';
        lowercaseIcon.className = lowercaseValid ? 'bi bi-check-circle' : 'bi bi-x-circle';

        numberIcon.style.color = numberValid ? 'green' : 'red';
        numberIcon.className = numberValid ? 'bi bi-check-circle' : 'bi bi-x-circle';

        specialIcon.style.color = specialValid ? 'green' : 'red';
        specialIcon.className = specialValid ? 'bi bi-check-circle' : 'bi bi-x-circle';

        if (password === '') {
            strengthBarContainer.style.display = 'none';
            strengthBar.style.width = '0%';
            strengthBar.style.backgroundColor = '#e0e0e0';
            strengthText.textContent = '';
        } else {
            var result = zxcvbn(password);
            strengthBarContainer.style.display = 'block';
            strengthBar.style.width = (result.score + 1) * 20 + '%';
            strengthBar.style.backgroundColor = strengthColors[result.score];
            strengthText.textContent = 'Password Strength: ' + strengthDescriptions[result.score];
        }
    });

    document.getElementById('users-repeat-password').addEventListener('input', function () {
        var password = document.getElementById('users-password').value;
        var repeatPassword = this.value;
        var passwordMatch = document.getElementById('password-match');
        if (password !== repeatPassword) {
            passwordMatch.style.display = 'block';
            passwordMatch.style.color = 'red';
            passwordMatch.textContent = 'Passwords do not match';
        } else {
            passwordMatch.style.display = 'none';
        }
    });

    document.getElementById('signup-form').addEventListener('submit', function (event) {
        var password = document.getElementById('users-password').value;
        var repeatPassword = document.getElementById('users-repeat-password').value;

        // Check password requirements
        var lengthValid = password.length >= 8;
        var uppercaseValid = /[A-Z]/.test(password);
        var lowercaseValid = /[a-z]/.test(password);
        var numberValid = /[0-9]/.test(password);
        var specialValid = /[!@#$%^&*(),.?":{}|<>]/.test(password);

        // Prevent form submission if requirements are not met
        if (!lengthValid || !uppercaseValid || !lowercaseValid || !numberValid || !specialValid || password !== repeatPassword) {
            event.preventDefault();
            alert('Please ensure the password meets all requirements and both passwords match.');
        }
    });

    function togglePasswordVisibility(id) {
        var input = document.getElementById(id);
        if (input.type === 'password') {
            input.type = 'text';
        } else {
            input.type = 'password';
        }
    }
</script>

{% endblock %}