{% extends "base.html" %}

{% block title %}Update Transaction{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "council-overview-sidebar.html" %}

    <div class="council-overview-content-container">

        <a href="{{ url_for('event_dashboard', event_id=event.events_id) }}"
            class="primary-button fit-content-button">Back to Events Dashboard</a>

        <!-- Flash messages section for the modal -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages center no-top-margin bottom-margin">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="container">
            <h2>Update Transaction</h2>

            <form method="POST" enctype="multipart/form-data"
                action="{{ url_for('update_transaction', event_id=event.events_id, transaction_id=transaction.transaction_id) }}">
                <div class="input-pair">
                    <label for="transaction-name">Transaction Name</label>
                    <input type="text" name="transaction-name" id="transaction-name" placeholder="Transaction Name"
                        value="{{ transaction.transaction_name }}" required>
                </div>

                <div class="input-pair">
                    <label for="transaction-date">Date</label>
                    <input type="datetime-local" name="transaction-date" id="transaction-date" value="{{ transaction.transaction_date.strftime('%Y-%m-%dT%H:%M') }}" required>
                </div>

                <div class="input-pair">
                    <label for="transaction-unit-amount">Unit Amount</label>
                    <input type="number" name="transaction-unit-amount" id="transaction-unit-amount" placeholder="Unit Amount" value="{{ transaction.transaction_unit_amount }}" required>
                </div>
                
                <div class="input-pair">
                    <label for="transaction-unit-price">Unit Price</label>
                    <input type="number" name="transaction-unit-price" id="transaction-unit-price" placeholder="Unit Price" value="{{ transaction.transaction_unit_price }}" required>
                </div>
                
                <div class="input-pair">
                    <label for="transaction-total">Total</label>
                    <input type="number" name="transaction-total" id="transaction-total" placeholder="Total" value="{{ transaction.transaction_total }}" readonly>
                </div>

                <div class="input-pair">
                    <label for="transaction-category">Category</label>
                    <select name="transaction-category" id="transaction-category" required>
                        <option value="" disabled>Select a Category</option>
                        {% for category in transaction_categories %}
                        <option value="{{ category.transaction_category }}" {% if category.transaction_category == transaction.transaction_category %}selected{% endif %}>{{ category.transaction_category }}</option>
                        {% endfor %}
                        {% if transaction.transaction_category not in transaction_categories %}
                        <option value="{{ transaction.transaction_category }}" selected>{{ transaction.transaction_category }}</option>
                        {% endif %}
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="input-pair" id="other-transaction-category-container" style="display: {% if transaction.transaction_category == 'Other' %}block{% else %}none{% endif %};">
                    <label for="other-transaction-category">Other Category</label>
                    <input type="text" name="other-transaction-category" id="other-transaction-category"
                        placeholder="Enter Category" value="{% if transaction.transaction_category == 'Other' %}{{ transaction.transaction_category }}{% endif %}">
                </div>

                <div class="input-pair">
                    <label for="transaction-type">Transaction Type</label>
                    <select name="transaction-type" id="transaction-type" required>
                        <option value="Expense" {% if transaction.transaction_type == 'Expense' %}selected{% endif %}>Expense</option>
                        <option value="Income" {% if transaction.transaction_type == 'Income' %}selected{% endif %}>Income</option>
                    </select>
                </div>

                <div class="input-pair">
                    <label for="transaction-receipt">Receipt</label>
                    <input type="file" name="transaction-receipt" id="transaction-receipt" hidden>
                    <label for="transaction-receipt" class="custom-file-upload-input">
                        <span class="choose-file-text">Choose File</span>
                        <span id="file-name" class="file-name">{{ transaction.transaction_receipt_cloudinary_url or 'No file chosen' }}</span>
                    </label>
                </div>

                <!-- Display receipt preview if available -->
                {% if transaction.transaction_receipt_cloudinary_url %}
                <div class="input-pair">
                    <label>Receipt Preview</label>
                    <img src="{{ transaction.transaction_receipt_cloudinary_url }}" alt="Receipt Preview" class="receipt-preview">
                </div>
                {% endif %}

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="horizontal-input-pair">
                    <a href="{{ url_for('event_dashboard', event_id=event.events_id) }}"
                        class="secondary-button fit-content-button">Cancel</a>
                    <button class="primary-button" type="submit">Update Transaction</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const transactionCategorySelect = document.getElementById('transaction-category');
        const otherTransactionCategoryContainer = document.getElementById('other-transaction-category-container');

        transactionCategorySelect.addEventListener('change', function () {
            if (transactionCategorySelect.value === 'Other') {
                otherTransactionCategoryContainer.style.display = 'block';
            } else {
                otherTransactionCategoryContainer.style.display = 'none';
            }
        });

        const unitAmountInput = document.getElementById('transaction-unit-amount');
        const unitPriceInput = document.getElementById('transaction-unit-price');
        const totalInput = document.getElementById('transaction-total');

        function calculateTotal() {
            const unitAmount = parseFloat(unitAmountInput.value) || 0;
            const unitPrice = parseFloat(unitPriceInput.value) || 0;
            const total = unitAmount * unitPrice;
            totalInput.value = total.toFixed(2);
        }

        unitAmountInput.addEventListener('input', calculateTotal);
        unitPriceInput.addEventListener('input', calculateTotal);
    });

    // File upload
    document.getElementById('transaction-receipt').addEventListener('change', function () {
        const fileName = this.files[0] ? this.files[0].name : 'No file chosen';
        document.getElementById('file-name').textContent = fileName;
    });
</script>

{% endblock %}
