{% extends "base.html" %}

{% block title %}Delete Concept Paper{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "dashboard/council-overview-sidebar.html" %}

    <div class="council-overview-content-container">

        <a href="{{ url_for('concept_papers.concept_papers_overview') }}" class="primary-button fit-content-button">Back to Concept Papers Overview</a>

        <!-- Flash messages section for the modal -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages center no-top-margin bottom-margin">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="container">
            <h2>Delete Concept Paper</h2>
            <p>Are you sure you want to delete the concept paper "{{ concept_paper.concept_paper_forms_subject }}"? This action cannot be undone.</p>
            <form method="POST" action="{{ url_for('concept_papers.delete_concept_paper', paper_id=concept_paper.concept_paper_forms_id) }}">
                <div class="horizontal-button-pair-positioned-right">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="secondary-button fit-content-button" type="submit">Delete Concept Paper</button>
                    <a href="{{ url_for('concept_papers.concept_papers_overview') }}" class="primary-button fit-content-button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
