{% extends "base.html" %}

{% block title %}Council Overview{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "dashboard/council-overview-sidebar.html" %}

    <div class="council-overview-content-container">
        <h2>E-Council Overview</h2>

        <select name="council-overview-school-year" id="council-overview-school-year" aria-label="Select a School Year"
            required>
            <option value="" disabled selected>Select a School Year</option>
            <option value="2024-2025">S.Y 2024-2025</option>
        </select>

        <div class="council-overview-content-container-group">
            <div class="council-overview-content-subcontainer">
                <h3>Events</h3>

                <table class="council-overview-content-table">
                    <tr>
                        <th>Event Name</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>CompTIA and IC3 Certification Examination</td>
                        <td>July 8, 2024</td>
                        <td>Postponed</td>
                    </tr>
                    
                    <tr>
                        <td>Onsite Seminar: Data Mining</td>
                        <td>June 14, 2024</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>TechTutor: Empowering Communities with AI...</td>
                        <td>May 24, 2024</td>
                        <td>Done</td>
                    </tr>
                    <tr>
                        <td>CompTIA and IC3 Certification Examination</td>
                        <td>September 8, 2024</td>
                        <td>Postponed</td>
                    </tr>
                    <!-- <tr>
                        <td>Hackin’ ka na lang 2024: “Unveiling Future...</td>
                        <td>April 27, 2024</td>
                        <td>Canceled</td>
                    </tr> -->
                    <!-- <tr>
                        <td>College of Computer Studies 2nd Semester...</td>
                        <td>March 14, 2024</td>
                        <td>Done</td>
                    </tr> -->
                </table>

                <a href="{{ url_for('events.events_overview') }}" class="primary-button">View More Events on Events Overview</a>
            </div>
            <div class="council-overview-content-subcontainer">
                <h3>Financial Bank Book</h3>

                <canvas id="financial-bank-book-chart"></canvas>

                <p>Remaining Budget: ₱ 4,000.00</p>
            </div>
            <div class="council-overview-content-subcontainer">
                <h3>Activity Completion Rate</h3>

                <canvas id="activity-completion-rate-chart"></canvas>

                <p>Activity Completion Rate: 80%</p>
            </div>
            <div class="council-overview-content-subcontainer">
                <h3>Activity Evaluation Graph</h3>

                <canvas id="activity-evaluation-graph-chart"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/council-overview.js') }}"></script>
{% endblock %}