{% extends "base.html" %}

{% block title %}Add Transaction{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "dashboard/council-overview-sidebar.html" %}

    <div class="council-overview-content-container">

        <a href="{{ url_for('events.event_dashboard', event_id=event.events_id) }}"
            class="primary-button fit-content-button">Back to Events Dashboard</a>

        <!-- Flash messages section for the modal -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages center no-top-margin bottom-margin">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="container">
            <h2>Add Transaction</h2>

            <form method="POST" enctype="multipart/form-data"
                action="{{ url_for('events.add_transaction', event_id=event.events_id) }}">
                <div class="input-pair">
                    <label for="transaction-name">Transaction Name</label>
                    <input type="text" name="transaction-name" id="transaction-name" placeholder="Transaction Name"
                        required>
                </div>

                <div class="input-pair">
                    <label for="transaction-date">Date</label>
                    <input type="datetime-local" name="transaction-date" id="transaction-date" required>
                </div>

                <div class="input-pair">
                    <label for="transaction-unit-amount">Unit Amount</label>
                    <input type="number" name="transaction-unit-amount" id="transaction-unit-amount" placeholder="Unit Amount" required>
                </div>
                
                <div class="input-pair">
                    <label for="transaction-unit-price">Unit Price</label>
                    <input type="number" name="transaction-unit-price" id="transaction-unit-price" placeholder="Unit Price" required>
                </div>
                
                <div class="input-pair">
                    <label for="transaction-total">Total</label>
                    <input type="number" name="transaction-total" id="transaction-total" placeholder="Total" readonly>
                </div>

                <div class="input-pair">
                    <label for="transaction-category">Category</label>
                    <select name="transaction-category" id="transaction-category" required>
                        <option value="" disabled selected>Select a Category</option>
                        {% for category in transaction_categories %}
                        <option value="{{ category.transaction_category }}">{{ category.transaction_category }}</option>
                        {% endfor %}
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="input-pair" id="other-transaction-category-container" style="display: none;">
                    <label for="other-transaction-category">Other Category</label>
                    <input type="text" name="other-transaction-category" id="other-transaction-category"
                        placeholder="Enter Category">
                </div>

                <div class="input-pair">
                    <label for="transaction-type">Transaction Type</label>
                    <select name="transaction-type" id="transaction-type" required>
                        <option value="Expense" selected>Expense</option>
                        <option value="Income">Income</option>
                    </select>
                </div>

                <div class="input-pair">
                    <label for="transaction-receipt">Receipt</label>
                    <input type="file" name="transaction-receipt" id="transaction-receipt" hidden>
                    <label for="transaction-receipt" class="custom-file-upload-input">
                        <span class="choose-file-text">Choose File</span>
                        <span id="file-name" class="file-name">No file chosen</span>
                    </label>
                </div>

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="horizontal-input-pair">
                    <a href="{{ url_for('events.event_dashboard', event_id=event.events_id) }}"
                        class="secondary-button fit-content-button">Cancel</a>
                    <button class="primary-button" type="submit">Add Transaction</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const transactionDateInput = document.getElementById('transaction-date');
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const day = String(now.getDate()).padStart(2, '0');
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const formattedDate = `${year}-${month}-${day}T${hours}:${minutes}`;
        transactionDateInput.value = formattedDate;

        const transactionCategorySelect = document.getElementById('transaction-category');
        const otherTransactionCategoryContainer = document.getElementById('other-transaction-category-container');

        transactionCategorySelect.addEventListener('change', function () {
            if (transactionCategorySelect.value === 'Other') {
                otherTransactionCategoryContainer.style.display = 'block';
            } else {
                otherTransactionCategoryContainer.style.display = 'none';
            }
        });

        const unitAmountInput = document.getElementById('transaction-unit-amount');
        const unitPriceInput = document.getElementById('transaction-unit-price');
        const totalInput = document.getElementById('transaction-total');

        function calculateTotal() {
            const unitAmount = parseFloat(unitAmountInput.value) || 0;
            const unitPrice = parseFloat(unitPriceInput.value) || 0;
            const total = unitAmount * unitPrice;
            totalInput.value = total.toFixed(2);
        }

        unitAmountInput.addEventListener('input', calculateTotal);
        unitPriceInput.addEventListener('input', calculateTotal);
    });

    // File upload
    document.getElementById('transaction-receipt').addEventListener('change', function () {
        const fileName = this.files[0] ? this.files[0].name : 'No file chosen';
        document.getElementById('file-name').textContent = fileName;
    });
</script>

{% endblock %}