{% extends "base.html" %}

{% block title %}Add Event{% endblock %}

{% block content %}

<div class="council-overview-container">
    {% include "dashboard/council-overview-sidebar.html" %}

    <div class="council-overview-content-container">

        <a href="{{ url_for('events_overview') }}" class="primary-button fit-content-button">Back to Events Overview</a>

        <!-- Flash messages section for the modal -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages center no-top-margin bottom-margin">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="container">
            <h2>Invite a User to Manage</h2>

            <p>Enter the email address of the user you would like to invite to help you manage "{{
                event.events_name }}".</p>

            <form method="POST" action="{{ url_for('invite_user', event_id=event.events_id) }}">
                <div class="input-pair">
                    <label for="users-email">User's Email</label>
                    <input type="email" name="users-email" id="users-email" placeholder="User's Email" required>
                </div>

                <input type="hidden" name="source" value="events_overview">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="horizontal-button-pair-positioned-right">
                    <button class="primary-button fit-content-button" type="submit">Send Email Invite</button>
                    <a href="{{ url_for(source, event_id=event.events_id) }}" class="secondary-button fit-content-button" type="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}